In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import os

## Add new data

### Canola

Pipeline: 
* Fix excel files.
* Input LOC acronym into dict file.
* Convert ENTRY - NAME and BRAND separated by YEAR.
* Convert LOC after final dataset has been established.
* Remove numerical data that is not YIELD.
* Change dots to NaN.
* Yield is currently on lb/acre.
  
Groups:
* 2004 - 2011
* 2012 - 2021
* 2022 - 2023

#### Getting csv files based on groups

In [91]:
folder_path = 'canola/pre_process/'
path_list = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f)) and f.endswith('.xlsx')]

path_list

['canola/pre_process/2012.xlsx',
 'canola/pre_process/2013.xlsx',
 'canola/pre_process/2014.xlsx',
 'canola/pre_process/2015.xlsx',
 'canola/pre_process/2016.xlsx',
 'canola/pre_process/2017.xlsx',
 'canola/pre_process/2018.xlsx',
 'canola/pre_process/2019.xlsx',
 'canola/pre_process/2020.xlsx',
 'canola/pre_process/2021.xlsx']

In [105]:
path_list = ['canola/pre_process/2022.xlsx', 'canola/pre_process/2023.xlsx']

In [109]:
res = pd.DataFrame()
for path in path_list:
    all_sheets_dict = pd.read_excel(path, sheet_name=None)
    for sheet_name, df in all_sheets_dict.items():
        print(path, sheet_name)
        if 'YLD' in df.columns:
            # renaming name to Line
            if 'NAME' in df.columns:
                df.rename(columns={'NAME': 'Line'}, inplace=True)
            elif 'LINE' in df.columns:
                df.rename(columns={'LINE': 'Line'}, inplace=True)
            df = df[['YEAR','LOC','ENTRY','Line','CITY','STATE','YLD']]
            # concat of all locations in a year
            res = pd.concat([res, df], axis=0, ignore_index=True)

    res = res[['YEAR','ENTRY','LOC','Line','CITY','STATE','YLD']]

canola/pre_process/2022.xlsx 2022 NWCVTHYB
canola/pre_process/2022.xlsx NWCVTOP
canola/pre_process/2023.xlsx 2023 NWCVT - BOTH
canola/pre_process/2023.xlsx 2023 NWCVT HYBRID
canola/pre_process/2023.xlsx 2023 NWCVT OP

In [110]:
res = res[~res['YLD'].astype(str).str.contains('^\\.$')]
res = res.dropna()

In [111]:
res.YEAR = res.YEAR.astype(int)
res = res[res.YLD != 0.0]
res.YLD = res.YLD.astype(int)
res.ENTRY = res.ENTRY.astype(int)
res.head()
res.to_csv("canola.csv", index=False)

#### Adding loc

In [144]:
loc_df = pd.read_csv("canola/loc.csv")
loc_df.COUNTY = loc_df.COUNTY.str.upper()
loc_df

        LOC         COUNTY STATE
0       ALA         AUBURN    AL
1       ALM  MERIDIANVILLE    AL
2       ALN         NORMAL    AL
3       ARK         KIBLER    AR
4       ARM       MARIANNA    AR
..      ...            ...   ...
175  TNMHYB        MEMPHIS    TN
176   TNMOP        MEMPHIS    TN
177  TXBHYB       BUSHLAND    TX
178   TXBOP       BUSHLAND    TX
179     MTK      KALISPELL    MT

[180 rows x 3 columns]

In [145]:
df = pd.read_csv('canola_g2.csv')
df.LOC = df.LOC.str.replace('-', '')
df.head(-10)

       YEAR  ENTRY  LOC         LINE   YLD
0      2012     16  ALA      MH07J14  1863
1      2012      1  ALA      Rossini  1499
2      2012      3  ALA       TCI806  1006
3      2012     13  ALA       Safran   894
4      2012     12  ALA       Hornet  1888
...     ...    ...  ...          ...   ...
16113  2021      6  VTA        Riley  3012
16114  2021      5  VTA     Surefire  3565
16115  2021      9  VTA     CP1055WC  1037
16116  2021     12  VTA  MH 17HID007  1417
16117  2021      1  VTA       KS4662  3294

[16118 rows x 5 columns]

In [146]:
res = pd.merge(df, loc_df, on='LOC', how='left')
res = res[['YEAR', 'ENTRY', 'LOC', 'STATE', 'COUNTY', 'LINE', 'YLD']]
res
res.to_csv('canola_g22.csv', index=False)

In [150]:
# joining all
g1 = pd.read_csv('canola_g1.csv')
g2 = pd.read_csv('canola_g2.csv')
g3 = pd.read_csv('canola_g3.csv')
res = pd.concat([g1, g2, g3], axis=0, ignore_index=True)
res.to_csv('canola.csv', index=False)

#### Adding NAME and BRAND based on combination YEAR + ENTRY

In [4]:
# check with 2004 and 2005 VSX-2 VSU
entries = pd.read_csv('canola/dict.csv')
df = pd.read_csv('datasets/canola.csv')

In [13]:
merged_df = pd.merge(df, entries[['YEAR', 'ENTRY', 'NAME', 'BRAND', 'TYPE']],
                     on=['YEAR', 'ENTRY'], how='left')
# Adding WATER_REGIME as unknown
merged_df['WATER_REGIME'] = 'Unknown'
merged_df = merged_df[["YEAR","LOC","STATE","COUNTY_CITY","LINE","BRAND","NAME","YIELD", "WATER_REGIME", "TYPE"]]
merged_df
merged_df.to_csv("canola.csv", index=False)

### General

In [32]:
df = pd.read_csv("1982-1992_corn.csv")
counties = pd.read_csv("datasets/county_data.csv")

In [33]:
df.drop(['PAVG'], inplace=True, axis=1)
df.YIELD = round(df.YIELD).astype(int)
df.TW = round(df.TW).astype(int)
df.MOIST = round(df.MOIST).astype(int)
df['DAYS'] = np.nan
df['STATE'] = 'KS'
df

      YEAR  LOC       BRAND    NAME  PCODE  YIELD  TW  MOIST  DAYS STATE
0     1984  RPI      FUNK'S  G-4465    841    205  59     17   NaN    KS
1     1984  FNI      FUNK'S  G-4465    841    175  58     19   NaN    KS
2     1984  DND      FUNK'S  G-4505    842    145  57     19   NaN    KS
3     1982  DND      ASGROW   RX 90    992    127  57     17   NaN    KS
4     1984  SHI      ASGROW   RX 90    992    192  53     22   NaN    KS
...    ...  ...         ...     ...    ...    ...  ..    ...   ...   ...
5138  1991  RPI  CASTERLINE  CX1170   2405    159  59     13   NaN    KS
5139  1991  THI  CASTERLINE  CX1170   2405    171  63     11   NaN    KS
5140  1991  FNI  CASTERLINE  CX1170   2405    156  62     14   NaN    KS
5141  1991  DND  CASTERLINE  CX1170   2405    124  60     14   NaN    KS
5142  1991  GRI  CASTERLINE  CX1170   2405    149  59     12   NaN    KS

[5143 rows x 10 columns]

In [34]:
def split_LOC(df, c_dict):
    df['COUNTY'] = df['LOC'].str[:2].map(
        c_dict
    ).fillna("Unknown")

    df['WATER_REGIME'] = df['LOC'].str[2].map(
        {'I': 'Irrigated',
         'i': 'Irrigated',
         'D': 'Dryland',
         'd': 'Dryland'
         }
    )
    return df

In [35]:
c_dict = dict(zip(counties['ACRONYM'], counties['COUNTY']))
c_dict['FN'] = 'FINNEY'
c_dict['GR'] = 'GREELEY'
c_dict['DN'] = 'DONIPHAN'
df = split_LOC(df, c_dict)
df

,YEAR,LOC,BRAND,NAME,PCODE,YIELD,TW,MOIST,DAYS,STATE,COUNTY,WATER_REGIME
0,1984,RPI,FUNK'S,G-4465,841,205,59,17,NaN,KS,REPUBLIC,Irrigated
1,1984,FNI,FUNK'S,G-4465,841,175,58,19,NaN,KS,FINNEY,Irrigated
2,1984,DND,FUNK'S,G-4505,842,145,57,19,NaN,KS,DONIPHAN,Dryland
3,1982,DND,ASGROW,RX 90,992,127,57,17,NaN,KS,DONIPHAN,Dryland
4,1984,SHI,ASGROW,RX 90,992,192,53,22,NaN,KS,SHERMAN,Irrigated
...,...,...,...,...,...,...,...,...,...,...,...,...
5138,1991,RPI,CASTERLINE,CX1170,2405,159,59,13,NaN,KS,REPUBLIC,Irrigated
5139,1991,THI,CASTERLINE,CX1170,2405,171,63,11,NaN,KS,THOMAS,Irrigated
5140,1991,FNI,CASTERLINE,CX1170,2405,156,62,14,NaN,KS,FINNEY,Irrigated
5141,1991,DND,CASTERLINE,CX1170,2405,124,60,14,NaN,KS,DONIPHAN,Dryland
5142,1991,GRI,CASTERLINE,CX1170,2405,149,59,12,NaN,KS,GREELEY,Irrigated

In [36]:
# YEAR,LOC,STATE,COUNTY_CITY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,MOIST,TW,DAYS
df.rename(columns={'COUNTY': 'COUNTY_CITY'}, inplace=True)
desired_order = ['YEAR', 'LOC', 'STATE', 'COUNTY_CITY', 'BRAND', 'NAME', 'PCODE', 'YIELD', 'WATER_REGIME', 'MOIST', 'TW', 'DAYS']
df = df[desired_order]
df

,YEAR,LOC,STATE,COUNTY_CITY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,MOIST,TW,DAYS
0,1984,RPI,KS,REPUBLIC,FUNK'S,G-4465,841,205,Irrigated,17,59,NaN
1,1984,FNI,KS,FINNEY,FUNK'S,G-4465,841,175,Irrigated,19,58,NaN
2,1984,DND,KS,DONIPHAN,FUNK'S,G-4505,842,145,Dryland,19,57,NaN
3,1982,DND,KS,DONIPHAN,ASGROW,RX 90,992,127,Dryland,17,57,NaN
4,1984,SHI,KS,SHERMAN,ASGROW,RX 90,992,192,Irrigated,22,53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5138,1991,RPI,KS,REPUBLIC,CASTERLINE,CX1170,2405,159,Irrigated,13,59,NaN
5139,1991,THI,KS,THOMAS,CASTERLINE,CX1170,2405,171,Irrigated,11,63,NaN
5140,1991,FNI,KS,FINNEY,CASTERLINE,CX1170,2405,156,Irrigated,14,62,NaN
5141,1991,DND,KS,DONIPHAN,CASTERLINE,CX1170,2405,124,Dryland,14,60,NaN
5142,1991,GRI,KS,GREELEY,CASTERLINE,CX1170,2405,149,Irrigated,12,59,NaN

In [37]:
def is_fully_unique(df):
    fully_unique = True
    for year in df.YEAR.unique():
        is_unique_combination = (
            ~df[df.YEAR == year]
            # .duplicated(subset=["NAME", "COUNTY_CITY", "WATER_REGIME"])
            .duplicated(subset=["NAME", "COUNTY_CITY"])
            .any()
        )
        if not is_unique_combination:
            print(f"Not unique in {year}")
            fully_unique = False
    if fully_unique:
        print("Combination of YEAR, NAME, COUNTY, WATER_REGIME is now unique")

In [38]:
def drop_duplicates_by_year(df):
    grouped = df.groupby("YEAR")
    non_duplicate_df = pd.DataFrame(columns=df.columns)

    for year, group in grouped:
        duplicate_rows = group[
            # group.duplicated(subset=["NAME", "COUNTY_CITY", "WATER_REGIME"], keep=False)
            group.duplicated(subset=["NAME", "COUNTY_CITY"], keep=False)
        ]
        non_duplicate_rows = group.drop(duplicate_rows.index)
        non_duplicate_df = pd.concat([non_duplicate_df, non_duplicate_rows])

    non_duplicate_df.reset_index(drop=True, inplace=True)
    return non_duplicate_df

In [39]:
is_fully_unique(df)

Not unique in 1985
Not unique in 1986
Not unique in 1988

In [45]:
df = drop_duplicates_by_year(df)
is_fully_unique(df)
df

Combination of YEAR, NAME, COUNTY, WATER_REGIME is now unique

,YEAR,LOC,STATE,COUNTY_CITY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,MOIST,TW,DAYS
0,1982,DND,KS,DONIPHAN,ASGROW,RX 90,992,127,Dryland,17,57,NaN
1,1982,DND,KS,DONIPHAN,FUNK'S,G-4507,1017,154,Dryland,17,57,NaN
2,1982,DND,KS,DONIPHAN,Northrup King,PX 74,1042,142,Dryland,17,57,NaN
3,1982,DND,KS,DONIPHAN,Northrup King,PX 95,1045,145,Dryland,22,53,NaN
4,1982,DND,KS,DONIPHAN,Dekalb,TXS 115A,1072,133,Dryland,17,56,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5128,1991,RPI,KS,REPUBLIC,CASTERLINE,CX1170,2405,159,Irrigated,13,59,NaN
5129,1991,THI,KS,THOMAS,CASTERLINE,CX1170,2405,171,Irrigated,11,63,NaN
5130,1991,FNI,KS,FINNEY,CASTERLINE,CX1170,2405,156,Irrigated,14,62,NaN
5131,1991,DND,KS,DONIPHAN,CASTERLINE,CX1170,2405,124,Dryland,14,60,NaN
5132,1991,GRI,KS,GREELEY,CASTERLINE,CX1170,2405,149,Irrigated,12,59,NaN

In [186]:
df = df.drop_duplicates()
df.dropna(subset=["NAME"], inplace=True)

In [187]:
df

,YEAR,LOC,BRAND,NAME,PCODE,YIELD,PAVG,TW,WATER_REGIME,COUNTY
0,1982,BRD,Kansas,Triumph 64,9,40.66,106.01,58.75,Dryland,BROWN
1,1982,BRD,Kansas,Scout 66,11,35.93,93.68,56.00,Dryland,BROWN
2,1982,BRD,Nebraska,Buckskin,44,38.41,100.14,56.00,Dryland,BROWN
3,1982,BRD,Kansas,Larned,69,41.14,107.25,56.75,Dryland,BROWN
4,1982,BRD,Kansas,Newton,73,33.24,86.67,55.00,Dryland,BROWN
...,...,...,...,...,...,...,...,...,...,...
5437,1993,SUD,Ehmke Seed,Ike,495,33.50,105.65,56.35,Dryland,SUMNER
5438,1993,SUD,Kansas,(W) Arlin,501,39.80,125.52,55.92,Dryland,SUMNER
5439,1993,SUD,AgriPro,Ponderosa,504,26.70,84.21,54.25,Dryland,SUMNER
5440,1993,SUD,Kansas,Karl 92,510,33.00,104.08,55.82,Dryland,SUMNER
5441,1993,SUD,Nebraska,Vista,511,30.00,94.62,53.22,Dryland,SUMNER

In [188]:
brand_elements = ["MAT CHK", "MATURITY CHECK", "zMATURITY CHECK", "MATURITY CHECK", "Z1--- EARLY CHECK", "Z4--- MED"]
name_elements = ["GRAND MEAN", "MEAN", "CV", "LSD", "Average", "AVERAGE", "LSD (0.05)", "LSD (0.05)*", "CV (%)", "LSD (0.5)", "MATURITY SHORT", "MATURITY MID", "MATURITY FULL"]
## 9903 9902 pcode 
df = df[~df['BRAND'].isin(brand_elements)]
df = df[~df['BRAND'].str.contains("CHECK", na=False)]
df = df[~df['BRAND'].str.contains("Check", na=False)]

df = df[~df['NAME'].isin(name_elements)]
df.reset_index(drop=True, inplace=True)

In [12]:
df.to_csv('sunflower_2.csv', index=False)

In [189]:
full = pd.read_csv("datasets/wheat.csv")

In [190]:
combined = pd.concat([df, full]).sort_values(by='YEAR')

In [24]:
combined = combined.drop(["CROP"], axis=1)

In [25]:
combined = combined[["YEAR","LOC","COUNTY","WATER_REGIME","BRAND","NAME","PCODE","YIELD","PAVG","MOIST","TW","DAYS"]]

In [15]:
combined.to_csv('wheat_2.csv', index=False)

## Fixing Data

### General

In [3]:
path_list = ['datasets/canola.csv','datasets/corn.csv', 'datasets/sorghum.csv', 'datasets/soybean.csv', 'datasets/sunflower.csv', 'datasets/wheat.csv']

In [5]:
df = pd.read_csv(path_list[0])
df.STATE.unique()

array(['AL', 'AR', 'VA', 'IL', 'MO', 'OH', 'KS', 'NE', 'OK', 'TX', 'IN',
       'CO', 'MT', 'WY', 'OR', 'KY', 'PA', 'GA', 'MN', 'NC', 'IA', 'NM',
       'MD', 'WA', 'NJ', 'TN', 'VT', 'MS', 'SD', 'SC', 'LA'], dtype=object)

In [157]:
# Adding State Column
for path in path_list:
    df = pd.read_csv(path)
    loc_index = df.columns.get_loc('LOC')
    df.insert(loc_index + 1, 'STATE', 'KS')
    # df.to_csv(path, index=False)

In [89]:
# Removing decimal places
for path in path_list:
    df = pd.read_csv(path)
    numerical_columns = df.select_dtypes(include='number').columns
    df[numerical_columns] = df[numerical_columns].fillna('0').round(0).astype(int)
    # df.to_csv(path, index=False)

In [92]:
# Stanton to Stafford county
for path in path_list:
    df = pd.read_csv(path)
    df.COUNTY = df.COUNTY.replace('STANTON', 'STAFFORD')
    # df.to_csv(path, index=False)

In [94]:
# FN - Finney, PH - Phillips, Greeley - GR
for path in path_list:
    df = pd.read_csv(path)
    conditions = [
    (df['LOC'].str[:2] == 'FN'),
    (df['LOC'].str[:2] == 'PH'),
    (df['LOC'].str[:2] == 'GR')
    ]
    mappings = ['FINNEY', 'PHILLIPS', 'GREELEY']
    df['COUNTY'] = np.select(conditions, mappings, default=df['COUNTY'])
    # df.to_csv(path, index=False)

### Corn

In [64]:
df = pd.read_csv('datasets/corn.csv')
df[df['YIELD'] == 0.00]

Index(['YEAR', 'PCODE', 'YIELD', 'MOIST', 'TW', 'DAYS'], dtype='object')

In [ ]:
# Making it fit the standard
df = pd.read_csv('datasets/corn.csv')
df.COUNTY = df.COUNTY.str.upper()
df.LOC = df.LOC.replace('SF', 'ST')
df = df[pd.notna(df['NAME']) & ~df['NAME'].astype(str).str.contains('LSD (0.05)')]
df = df[pd.notna(df['NAME']) & ~df['NAME'].astype(str).str.contains('LSD (0.05)*')]
# df.to_csv('datasets/corn.csv', index=False)

### Sorghum

In [15]:
df = pd.read_csv('datasets/sorghum.csv')
df

,YEAR,LOC,COUNTY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,PAVG,MOIST,TW,DAYS
0,1983,THD,THOMAS,NaN,XXX,1086,82,Dryland,102,11,57,62
1,1994,STD,STAFFORD,NaN,15,1695,90,Dryland,106,18,52,65
2,1994,STD,STAFFORD,NaN,12,1775,98,Dryland,115,17,52,63
3,1994,RND,RENO,NaN,135,1858,67,Dryland,79,14,56,66
4,1994,RND,RENO,NaN,150,1861,65,Dryland,78,13,58,66
...,...,...,...,...,...,...,...,...,...,...,...,...
14063,2023,RND,RENO,DYNA-GRO,M72GB71,3038,112,Dryland,94,15,53,0
14064,2023,RND,RENO,DYNA-GRO,M63GB78,3074,135,Dryland,113,15,55,0
14065,2023,RND,RENO,DYNA-GRO,M67GB87,3076,112,Dryland,94,14,52,0
14066,2023,RND,RENO,RAGT,AC2104,3087,112,Dryland,94,11,53,0
14067,2023,PND,PAWNEE,DYNA-GRO,M60GB88,2574,158,Dryland,106,14,59,0

In [167]:
# removing TANT in LOC
df = df[pd.notna(df['LOC']) & ~df['LOC'].astype(str).str.contains('TANT')]
# df.to_csv('datasets/sorghum.csv', index=False)

updating the pcodes, boy was it difficulty

In [168]:
pcode_df = pd.read_excel('sorghum_pcodes.xlsx')
pcode_df.PCODE = pcode_df.PCODE.astype('str')
pcode_df

    PCODE            BRAND     NAME
0       1  Pride of Saline       OP
1       2        DELTAPINE   G-777W
2       3     Westland Var      NaN
3       6           Public   RS 650
4       7      Midland Var      NaN
..    ...              ...      ...
825   995           Pfizer   M 550G
826   996           Pfizer   M 568G
827   997        Paymaster  GR 1020
828   998        Paymaster  DR 1075
829   999          CARGILL   DR1125

[830 rows x 3 columns]

In [169]:
filtered_df = df[(df['YEAR'] == 1994) & (df['NAME'].isin(pcode_df['PCODE']))]
filtered_index = filtered_df.index
filtered_df

,YEAR,LOC,COUNTY,WATER_REGIME,BRAND,NAME,PCODE,YIELD,PAVG,MOIST,TW,DAYS
5,1994,RND,RENO,Dryland,NaN,151,1256,73,86,14,56,61
6,1994,STD,STAFFORD,Dryland,NaN,2,1822,73,86,16,57,57
7,1994,STD,STAFFORD,Dryland,NaN,7,1436,83,97,16,56,57
9,1994,STD,STAFFORD,Dryland,NaN,22,1826,93,109,17,52,54
12,1994,HVD,HARVEY,Dryland,NaN,79,1790,106,111,11,58,61
...,...,...,...,...,...,...,...,...,...,...,...,...
747,1994,BRD,BROWN,Dryland,NaN,33,1777,97,87,14,60,68
749,1994,BRD,BROWN,Dryland,NaN,16,1446,108,97,15,61,65
752,1994,BRD,BROWN,Dryland,NaN,148,1033,96,86,15,59,62
754,1994,BRD,BROWN,Dryland,NaN,147,1820,90,81,15,62,62
759,1994,BRD,BROWN,Dryland,NaN,108,1666,100,90,15,60,65

In [170]:
result_df = pd.merge(filtered_df, pcode_df, left_on='NAME', right_on='PCODE', how='left')
result_df = result_df.drop(['BRAND_x', 'NAME_x', 'PCODE_y'], axis=1)
result_df = result_df.rename(columns={'PCODE_x': 'PCODE', 'BRAND_y': 'BRAND', 'NAME_y': 'NAME'})
result_df = result_df[['YEAR', 'LOC', 'COUNTY', 'WATER_REGIME', 'BRAND', 'NAME', 'PCODE', 'YIELD', 'PAVG', 'MOIST', 'TW', 'DAYS']]
result_df

,YEAR,LOC,COUNTY,WATER_REGIME,BRAND,NAME,PCODE,YIELD,PAVG,MOIST,TW,DAYS
0,1994,RND,RENO,Dryland,Paymaster,Apache,1256,73,86,14,56,61
1,1994,STD,STAFFORD,Dryland,DELTAPINE,G-777W,1822,73,86,16,57,57
2,1994,STD,STAFFORD,Dryland,Midland Var,NaN,1436,83,97,16,56,57
3,1994,STD,STAFFORD,Dryland,Frontier,400C,1826,93,109,17,52,54
4,1994,HVD,HARVEY,Dryland,DEKALB,F-63,1790,106,111,11,58,61
...,...,...,...,...,...,...,...,...,...,...,...,...
238,1994,BRD,BROWN,Dryland,Public,RS 610,1777,97,87,14,60,68
239,1994,BRD,BROWN,Dryland,Martin Var,NaN,1446,108,97,15,61,65
240,1994,BRD,BROWN,Dryland,Paymaster,Kiowa,1033,96,86,15,59,62
241,1994,BRD,BROWN,Dryland,Paymaster,Comanche,1820,90,81,15,62,62
242,1994,BRD,BROWN,Dryland,ASGROW,Red RaiderA,1666,100,90,15,60,65

In [172]:
df.loc[filtered_index, :] = result_df.set_index(filtered_index)
df.head(10)

,YEAR,LOC,COUNTY,WATER_REGIME,BRAND,NAME,PCODE,YIELD,PAVG,MOIST,TW,DAYS
0,1983,THD,THOMAS,Dryland,NaN,XXX,1086,82,102,11,57,62
1,1994,STD,STAFFORD,Dryland,NaN,15,1695,90,106,18,52,65
2,1994,STD,STAFFORD,Dryland,NaN,12,1775,98,115,17,52,63
3,1994,RND,RENO,Dryland,NaN,135,1858,67,79,14,56,66
4,1994,RND,RENO,Dryland,NaN,150,1861,65,78,13,58,66
5,1994,RND,RENO,Dryland,Paymaster,Apache,1256,73,86,14,56,61
6,1994,STD,STAFFORD,Dryland,DELTAPINE,G-777W,1822,73,86,16,57,57
7,1994,STD,STAFFORD,Dryland,Midland Var,NaN,1436,83,97,16,56,57
8,1994,STD,STAFFORD,Dryland,NaN,10,1495,77,91,16,52,56
9,1994,STD,STAFFORD,Dryland,Frontier,400C,1826,93,109,17,52,54

In [173]:
df.to_csv('datasets/sorghum_2.csv', index=False)

should i do this on the earlier years on the column NAME? if so there are some that are still missing like 120
ans: Yes, ignore missing

### Sunflower

In [32]:
df = pd.read_csv('datasets/sunflower.csv')
df

,YEAR,LOC,COUNTY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,DAYS
0,1998,GRDO,GREELEY,ASGROW SEED,AS5303,0,76,Dryland,57
1,1998,GRDO,GREELEY,INTERSTATE PAYCO SEED,IS 4049,0,74,Dryland,63
2,1998,GRDO,GREELEY,KAYSTAR SEED,9501,0,73,Dryland,63
3,1998,GRDO,GREELEY,CARGILL,X 3272,0,62,Dryland,58
4,1998,GRDO,GREELEY,MYCOGEN SEEDS,8488NS,0,76,Dryland,62
...,...,...,...,...,...,...,...,...,...
2341,2023,NaN,RENO,DYNA GRO,H47HO11EX,1013,1365,Dryland,0
2342,2023,NaN,RENO,DYNAGRO,H45NS16CL,1014,1726,Dryland,0
2343,2023,NaN,RENO,NUSEED,N4H490 E,1016,1756,Dryland,0
2344,2023,NaN,RENO,NUSEED,Hornet,920,2199,Dryland,0
2345,2023,NaN,RILEY,NUSEED,Hornet,920,1527,Dryland,0

In [33]:
df.LOC = df.LOC.str.upper()
df[df.YEAR == 2008].head()

      YEAR   LOC  COUNTY       BRAND     NAME  PCODE  YIELD WATER_REGIME  DAYS
1284  2008  THIO  THOMAS    Monsanto   MH6640      0     99    Irrigated    58
1285  2008  THIO  THOMAS    Monsanto   MH6643      0     81    Irrigated    55
1286  2008  THIO  THOMAS    Monsanto   MH7633      0     91    Irrigated    57
1287  2008  THIO  THOMAS  Fontanelle    902NS      0     80    Irrigated    59
1288  2008  THIO  THOMAS       Garst  NX43489      0    105    Irrigated    57

In [25]:
# Fixing lower case LOC causing unknown locations
counties = pd.read_csv("datasets/county_data.csv")
c_dict = dict(zip(counties['ACRONYM'], counties['COUNTY']))
c_dict['FN'] = 'FINNEY'
c_dict['GR'] = 'GREELEY'
df = split_LOC(df, c_dict)
df[df.YEAR == 2008].head()
# df.to_csv('datasets/sunflower.csv')

In [34]:
# Splitting LOC last letter into column called TYPE: O - Oil; C - Confectionary
df['TYPE'] = df['LOC'].str[-1].map(
    {'O': 'Oil',
     'C': 'Confectionary',
     np.nan: 'Unknown'}
)
df.head(-10)

,YEAR,LOC,COUNTY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,DAYS,TYPE
0,1998,GRDO,GREELEY,ASGROW SEED,AS5303,0,76,Dryland,57,Oil
1,1998,GRDO,GREELEY,INTERSTATE PAYCO SEED,IS 4049,0,74,Dryland,63,Oil
2,1998,GRDO,GREELEY,KAYSTAR SEED,9501,0,73,Dryland,63,Oil
3,1998,GRDO,GREELEY,CARGILL,X 3272,0,62,Dryland,58,Oil
4,1998,GRDO,GREELEY,MYCOGEN SEEDS,8488NS,0,76,Dryland,62,Oil
...,...,...,...,...,...,...,...,...,...,...
2331,2023,NaN,RENO,CROPLAN,CP 7919CL,970,1898,Dryland,0,Unknown
2332,2023,NaN,RENO,CROPLAN,CP 455E,951,1819,Dryland,0,Unknown
2333,2023,NaN,RENO,DYNA GRO,H42HO18CL,971,1660,Dryland,0,Unknown
2334,2023,NaN,RENO,DYNA GRO,H49HO19CL,972,2099,Dryland,0,Unknown
2335,2023,NaN,RENO,NUSEED,N4H521 CL,979,2090,Dryland,0,Unknown

In [35]:
# df.to_csv('datasets/sunflower.csv', index=False)

### Wheat

In [2]:
df = pd.read_csv('datasets/wheat.csv')
df

,YEAR,LOC,BRAND,NAME,YIELD,TW,MOIST,HT,COUNTY,WATER_REGIME,HEAD
0,1994,ELDF,AgriPro,Longhorn,31,58,13,29,ELLIS,Dryland,139
1,1994,ELDF,----,Cimarron,33,62,11,26,ELLIS,Dryland,135
2,1994,ELDF,Star,Salute,37,59,13,26,ELLIS,Dryland,140
3,1994,ELDF,----,Karl,34,61,10,28,ELLIS,Dryland,134
4,1994,ELDF,----,Karl 92,34,61,11,27,ELLIS,Dryland,132
...,...,...,...,...,...,...,...,...,...,...,...
14196,2023,RPD,MERIDIAN,MS MAVERICK,26,60,0,0,REPUBLIC,Dryland,0
14197,2023,RPD,LIMAGRAIN,LCS JULEP,16,54,0,0,REPUBLIC,Dryland,0
14198,2023,RPD,LIMAGRAIN,LCS HELIX AX,19,59,0,0,REPUBLIC,Dryland,0
14199,2023,RPD,LIMAGRAIN,LCS ATOMIC AX,14,56,0,0,REPUBLIC,Dryland,0
14200,2023,ELD,AGSECO,TAM 114,27,51,13,0,RUSSELL,Dryland,0

In [4]:
# Removing entries with NC, EC, NWD, SWD, IRR, SC NE, SE in LOC
df = df[~df['LOC'].isin(['NC', 'EC', 'NWD', 'SWD', 'IRR', 'SC', 'NE', 'SE'])]
df
# df.to_csv('datasets/wheat.csv', index=False)

## Matching strings

### Better solution:
* Groupby pcode
* keep the first one

In [3]:
from thefuzz import fuzz, process
import pandas as pd

In [8]:
df = pd.read_csv('datasets/corn.csv')

In [14]:
f = df.groupby('PCODE').filter(lambda x: x['NAME'].nunique() > 1)
print(f[['PCODE', 'NAME']].drop_duplicates())

       PCODE          NAME
257     1798  GSC 23331798
2826    2234      B73xMO17
2891    2104         S7759
2921    2110           365
3264    2153       SG 8515
...      ...           ...
24604   5602     669PR RIB
24608   5674   RK710DGVT2P
24618   5601     429PR RIB
24640   5596  MATURITY MED
24800   5606  831VT2ProRIB

[977 rows x 2 columns]

In [5]:
unique_names = df['NAME'].fillna(0).unique()
unique_names = [str(item) for item in unique_names]
unique_names

['RX 90',
 'G-4578',
 'G-4673A',
 '680',
 '690',
 'FB 224E',
 'FB 222E',
 '7778',
 '6261',
 '6969',
 '5601',
 'RX 854',
 '1600A',
 '3323',
 '3186',
 '6708',
 '8150',
 '7676',
 'LX 4364',
 'LX 4355',
 'T-E 6998',
 '2340',
 'SX 2684',
 'JX 8220',
 'SX 70W',
 'NEBRASKA 611',
 '1700',
 '1800B',
 '660',
 '5438',
 'SUPER 14',
 'S7759',
 '3358',
 '3377',
 'PX 9581',
 'PX 9573',
 '6190',
 '5199',
 '5768',
 '5129',
 '7384',
 '80-37',
 'LX 4315A',
 'SX 2680',
 'G-4733',
 '7120',
 'FB 215',
 'T-E 6995A',
 '967',
 '8201',
 'Nebraska 714',
 'SPX-77',
 'S818',
 '5802',
 'XL-72aa',
 'B73xMO17',
 '3183',
 '3344',
 'T-E 6995',
 '580',
 '949',
 'TXS 115A',
 'PX 95',
 'PX 74',
 'G-4507',
 'G-4522',
 'JX 180',
 'LX 4500',
 '611',
 '3194',
 'XL-73',
 'SX 333',
 'XL-71',
 'XL-67',
 '7600',
 '8331',
 '6707',
 'LX 4315',
 'SX 2700',
 '7251',
 '5291',
 'S7795',
 'S7767',
 'SX 351',
 'Nebraska 715',
 '1800A',
 '84AA',
 'JX 247',
 '923',
 'T 1230',
 'RX 909',
 'WM 1414',
 '601',
 '955',
 '980',
 'DK699',
 'XL-61',
 'FB 224',
 'WM 9090',
 'FB 222',
 '8990',
 'PX 9609',
 '871',
 '625',
 '635',
 'WCK 8208',
 '6000X',
 '1580',
 'JX 7900',
 'PX 9692',
 'CX 8009',
 '918',
 '920C',
 'SX 383',
 'SX 379',
 'G-4514',
 'T-E 6996',
 '82001',
 '83C61',
 'SX 2780',
 '717',
 'IS 633',
 'IS 645',
 'LX 4373',
 'SX 354',
 'G-4531',
 '56A',
 'RX 777',
 'RX 114',
 '69',
 'RA 1502',
 '1900',
 '5509',
 '2570',
 '7787',
 'RA 1604',
 'FB 235',
 '5230',
 'G-4669',
 '6257',
 'G-4614',
 '230',
 'DK747',
 'DK727',
 '8345',
 '8388',
 'GSC 23331798',
 'H-2604',
 'H-2572',
 'T-E 6994',
 '8520',
 '8315',
 '8373',
 '8344',
 'DK656',
 'JX 8100',
 'PX 9527',
 '937',
 '607',
 'S5340',
 'S8500',
 'KS 1150',
 '827A',
 'GSC 2212',
 '922',
 '5133',
 '1090',
 '5452',
 'S7751',
 '7878',
 '8505',
 'S8402',
 'S8802',
 'CX 8261',
 'EK 8805',
 '829A',
 '805A',
 '816',
 'EK 7796',
 'EK 8896',
 'RAX 3515',
 'RAX 3514',
 '8400',
 '8200',
 '718',
 'SX 2687',
 '7372',
 'GSA 2250',
 'GSC 2216',
 '7277',
 'RA-1505C',
 'RA-1505',
 '3380',
 '7990',
 'SX 372',
 '2545',
 '5990',
 '5204',
 '6712',
 '6709',
 '562',
 'G-4505',
 'G-4465',
 '603',
 'RX 404',
 'T-1100',
 'KS 114',
 'KS 116',
 'HP771',
 'AP655',
 '905',
 '971',
 '973',
 'RX 788',
 'SPX77',
 'AP510',
 'HP470',
 'RX 892',
 'SS-69',
 'SS-63A',
 '915',
 'SS-63',
 'SX 16A',
 '3378',
 'XC846',
 'SS-70',
 'SX 310',
 '2020',
 '2200',
 '2100',
 'SX 8310',
 'SX 8410',
 'SX 8512',
 '4901',
 'S8656',
 '7576',
 '1595',
 'SX 297',
 'G-4594',
 'G-4765',
 'SG 8215',
 'SG 141',
 '212',
 'DK636',
 'DK672',
 '8805A',
 '6230',
 'LX 4406',
 'SX7300B',
 '7711',
 'PX 9540',
 'LX 4344',
 'H-2601',
 'SX 2692',
 '4116',
 '7820',
 'KS 1151',
 '757',
 'A619xA632',
 'SX6837',
 '435',
 'C-1233',
 'KS 115',
 'RX 860',
 '830',
 'AP670',
 'AH 808X',
 'AH 8080',
 'RX 798',
 '820',
 '602',
 '818',
 '4605',
 '126016',
 '222660',
 'C-1233A',
 'C-1241',
 'C-1243',
 '8534',
 '8575',
 '8601',
 'C-1247',
 '4733',
 '8538',
 '8555',
 '42330',
 '8620',
 'SX 269',
 '6685',
 'SS-64C',
 '917',
 '920D',
 '7859',
 'SS-64B',
 '125618',
 '132701',
 '8967',
 'SS-63B',
 '1040',
 'W-2192',
 'W-2192-A',
 '2300',
 'TR 3303',
 'S8505',
 '5460',
 'TR 1160',
 'TR 1170',
 '9400W',
 'G-4635',
 'SG 7202W',
 'SG 7205W',
 '8185',
 'T-E 6977',
 'T-E 6988',
 'G-4626',
 '8625',
 'DK711',
 '4253',
 '6235',
 '677',
 'LX 4235',
 'LX 4348',
 '84-50',
 'KS 119',
 'PX 9584',
 '6674',
 '5124',
 'GSC 2355',
 'SX 2648',
 '5117',
 '8350',
 'SX 8408',
 '220',
 '242',
 'PX 9646',
 '5225',
 'SX 8612',
 'SX 7300N',
 '8210',
 '7950',
 '5750',
 '3181',
 '3269',
 'ORO 180',
 'ORO 150',
 'ORO 100',
 '86636',
 'C-1251',
 '8717',
 '8707',
 '7993',
 'DC-545',
 '7877',
 '590',
 'DC-555',
 '2689',
 'GSC 2337',
 'GSC 2347W',
 'TEX 1151',
 'SG 8333',
 'G-4673B',
 'G-4513',
 'F-4280',
 'DC-576',
 '3168',
 '5415',
 'H-7750',
 'H-2686A',
 'SS-61B',
 '1650FG',
 '2035',
 'SS-62A',
 '3124',
 'SS-54A',
 'SS-62B',
 '9310',
 'XP9086',
 'RX 905',
 '8027',
 'T-E 6951',
 'G-4666',
 'G-4485',
 'G-4543',
 'DC-541',
 '8628',
 '8677',
 '8690',
 '8711',
 '482',
 '488',
 '682',
 'SL75',
 'EX 402',
 'SS-64D',
 'ST-7680',
 'ST-7625',
 'TR 1110',
 'SX 1087',
 '3379',
 'SS-60C',
 'TR 1120',
 'TRX 8326',
 '1270',
 'AP850',
 'TR 1125',
 'TR 3400',
 'TR 360',
 'TR 1190',
 'SX 900',
 '7400',
 '7507',
 '6660',
 '6414',
 'SX 8611',
 'GSC 4715',
 'GSC 2075',
 'SX 2673',
 '7770',
 '5910',
 '6756',
 '190',
 '271',
 '802',
 'SX 925',
 'S7705',
 '231',
 '365',
 '384',
 'T-E 6930',
 'SG 6909',
 'AP595',
 'AG7400',
 'SS-57A',
 'AP610',
 'SG 8515',
 'F-4535',
 'G-4571',
 'SG 8227',
 'SG 8311',
 '8211W',
 '8357W',
 '8532',
 'DC-8178E',
 '697',
 '421',
 '8127',
 '8527',
 '8650',
 '669',
 '8492',
 '7113',
 'N6873',
 'N8350',
 'RX 807',
 '3180',
 '3189',
 '3362',
 '3467',
 'SS-1170',
 '3162',
 '3159',
 '359',
 '501A',
 '3618',
 '120',
 '101',
 'CB-1140',
 '2185',
 '2244',
 '2305',
 '2325',
 '2350',
 '2095',
 'RX 908',
 'CB-1170',
 '1890',
 'RX 746',
 '1852',
 'T-E 7055',
 'T-E 7081',
 'TEX 8905',
 'EX-396',
 'GL 590',
 'GL 611',
 'GSC 2344W',
 '4176',
 '86050',
 'TP4445',
 '86012',
 '86040',
 'GSC 4192',
 '7477',
 '5158',
 '5891',
 'N7816',
 'N8318',
 '231A',
 '346',
 '6222',
 'HS-97',
 'SX 2691',
 '7115',
 '6887',
 'HS-59',
 'HS-64',
 'HS-88',
 '2711',
 'DS 432',
 '9640',
 'AP525',
 '6227',
 '6927',
 '454',
 'X585',
 'X645',
 '449',
 '670',
 'DK671',
 'DS 1951',
 'AG 7450',
 'AP675',
 'XP8519',
 '520',
 '4393',
 'HSX 9491',
 'G-4495',
 '8510',
 '6370',
 '7288',
 '7300',
 '7660',
 '4616',
 '6260',
 'C8625',
 'N6330',
 '7910',
 'HSX 9641',
 'HSX 9492',
 'HS 9592',
 '117 EXP',
 '200 EXP',
 'SP 5908',
 'SP 6022',
 'SP 7290',
 'SP 7291',
 '1265',
 '7219',
 '1610',
 '1250',
 'SG 8440A',
 'N140',
 '1180',
 '280',
 '300',
 '301 EXP',
 'CB1180',
 'HS 9911',
 'T-E X9002',
 'T-E 7060',
 'H-2525',
 'H-2583',
 '391',
 '4122X',
 'SG 5757',
 'SG 6101',
 '8101W',
 'N7372',
 'GC 6260',
 'GL 541',
 'GL 566',
 'GL 595',
 'GC 96008',
 'T-E 7052',
 'HS 9663',
 '9116',
 'HS 9773',
 '9107',
 '8119',
 'GL 665',
 'GSC 4161',
 '2715',
 '8115',
 'GL 582',
 'CX1170',
 '5550',
 '5491',
 '5470',
 '6111X',
 '5088X',
 '4581',
 'DK715',
 'DK646',
 '8427',
 'C-1191',
 'CX1185',
 'CX1235',
 'CX1237',
 '2315WC',
 '2330',
 '7997',
 '5561',
 'T-E X9103',
 'T-E X9102',
 'T-E 9586',
 'GC 96001',
 'GC 6252',
 '8398',
 '8272',
 '5671',
 'UAPX 15015',
 '6240',
 '6340',
 'SG-8545',
 'SG-8595',
 '8250',
 'AG 7720',
 'RX899',
 '642',
 '6272',
 '7697',
 '612',
 '467',
 '592',
 'T-E X9104',
 '920',
 '8191',
 '7366',
 '7304',
 '6121',
 '5963',
 '5860',
 '5717',
 '4026',
 '3417',
 '360',
 '9550',
 '361',
 '371',
 '3394',
 'EX.06193-3',
 'W-2166',
 'W-2164',
 'WXC-173',
 'WXC-170',
 'USN 318',
 'USN 316',
 'USN 314',
 '1630',
 'N6560',
 'N7768',
 'NB 422',
 'NB 665',
 'NB 693',
 'TR 1010',
 'TR 1020',
 'TR 1040',
 'NB 814',
 '3245',
 'HS 9704',
 'HS 9502',
 'HS 9484',
 '9118',
 '9110',
 'GSC 4172',
 '4204 E',
 '4203 E',
 '4202 E',
 '4196 E',
 'GL 690',
 'GL 685',
 'H-2485',
 'H-2592',
 'GL 583',
 'GL 586',
 'GL 587',
 'GL 632',
 'GL 639',
 'GL 569',
 'HS 9802',
 '188',
 '2445',
 '2475',
 '2480',
 '2481',
 '2820',
 '1171',
 'HS 9977',
 '7710',
 '7970',
 '2685',
 '2760',
 '2812',
 '103',
 '10306',
 '840',
 'SG-8515',
 '2290',
 'GSC 2333',
 'S 7759',
 '3737',
 'AG5950',
 '7885',
 '191',
 '57',
 '15',
 '59',
 '184',
 '175',
 '90',
 '58',
 '127',
 '12',
 '159',
 '152',
 '149',
 '151',
 '163',
 '8',
 '138',
 '164',
 '23',
 '183',
 '18',
 '42',
 '178',
 '119',
 '96',
 '64',
 '21',
 '192',
 '161',
 '5',
 '181',
 '29',
 '89',
 '84',
 '43',
 '13',
 '11',
 '77',
 '133',
 '38',
 '99',
 '147',
 '107',
 '132',
 '139',
 '123',
 '109',
 '98',
 '86',
 '168',
 '91',
 '131',
 '        23',
 '52',
 '45',
 '67',
 '172',
 '150',
 '85',
 '48',
 '20',
 '10',
 '135',
 '166',
 'SX 2685',
 '51',
 '34',
 '74',
 '72',
 '        67',
 '        56',
 '171',
 '6',
 '60',
 '117',
 '        55',
 '        37',
 '        30',
 '        29',
 '        22',
 '63',
 '37',
 '24',
 '41',
 '40',
 '162',
 '82',
 '95',
 '118',
 '66',
 '7',
 '        46',
 '146',
 '115',
 ' 62',
 ' 57',
 '176',
 '180',
 '        14',
 '        65',
 '        54',
 '        42',
 '        27',
 '        11',
 '143',
 '177',
 '110',
 '50',
 '9',
 '         9',
 '        21',
 '        66',
 '49',
 '179',
 '169',
 '173',
 '134',
 '79',
 '32',
 '189',
 '33',
 '167',
 '44',
 '31',
 '186',
 '114',
 'DEMAND 119',
 'DEMAND 118',
 '165',
 '160',
 '158',
 '157',
 '1324',
 '130',
 '122',
 '68',
 '100',
 '83',
 '78',
 '36',
 '        10',
 '93',
 '126',
 '102',
 '170',
 '156',
 '155',
 '148',
 '71',
 '14',
 '87',
 '174',
 '113',
 '137',
 '121',
 '17',
 '145',
 '144',
 '142',
 '25',
 '19',
 '92',
 '70',
 '88',
 '61',
 '30',
 '80',
 '27',
 '28',
 ' 43',
 ' 35',
 '47',
 '2',
 '1',
 '16',
 '46',
 ' 47',
 ' 24',
 ' 65',
 ' 54',
 ' 49',
 ' 45',
 ' 40',
 ' 27',
 ' 11',
 '  7',
 ' 20',
 ' 29',
 ' 30',
 ' 36',
 ' 66',
 '  6',
 ' 21',
 '125',
 ' 67',
 ' 10',
 '  9',
 ' 48',
 ' 44',
 ' 18',
 ' 42',
 ' 58',
 ' 33',
 '124',
 'E4514 EXP',
 ' 59',
 ' 15',
 ' 34',
 ' 31',
 ' 32',
 ' 37',
 ' 38',
 '128',
 ' 23',
 '136',
 '81',
 '56',
 '55',
 '54',
 '73',
 '26',
 '62',
 '35',
 '140',
 '154',
 '39',
 '141',
 '94',
 '111',
 '106',
 '105',
 '104',
 '65',
 '3',
 ' 52',
 ' 51',
 ' 50',
 '4',
 '153',
 '1991',
 '5480',
 '8599',
 'H-2502',
 '1522',
 'N4242',
 'N4640',
 'DS 1204',
 '9602',
 '3563',
 'H-2404',
 'N5901',
 'RX893',
 '4450',
 '3225',
 '8240',
 'F-B73RHMXMO17',
 'F - B73 X N204',
 '510',
 '363',
 'N7590',
 '362',
 '409',
 '8281',
 'DK626',
 'DK591',
 '9932 (TRX3201)',
 'E1094 EXP',
 '6485 EXP',
 'MP-1091',
 'DK580',
 'TR990',
 'RX623T',
 'MP-1141',
 'MP-1172',
 'KX - 777',
 '8330',
 '2677',
 'SX62',
 'H-2581',
 '2693',
 'H-2564',
 '7777',
 '8481',
 'MID - H2530',
 '9785 EXP',
 '7050cb',
 'RX770',
 '7460',
 '8327',
 'SHORT - C4327',
 '9297 EXP',
 'N7070',
 '9801',
 '3223',
 '438',
 '3375',
 '4295X EXP',
 '5037',
 ...]

In [7]:
for name in unique_names:
    match, score = process.extractOne(name, unique_names)
    # You can adjust the threshold score based on your requirements
    if score >= 80:
        if name != match:
            print(f'Match:{name, match}')
    else:
        print(f'Error:{name}')

Match:('SG-8515', 'SG 8515')
Match:('        23', '23')
Match:('        67', '67')
Match:('        29', '29')
Match:('37', '        37')
Match:(' 57', '57')
Match:('        42', '42')
Match:('        11', '11')
Match:('         9', '9')
Match:('        21', '21')
Match:('        66', '66')
Match:('        10', '10')
Match:('14', '        14')
Match:('30', '        30')
Match:('27', '        27')
Match:(' 43', '43')
Match:('46', '        46')
Match:(' 47', '47')
Match:(' 24', '24')
Match:(' 65', '        65')
Match:(' 54', '        54')
Match:(' 49', '49')
Match:(' 45', '45')
Match:(' 40', '40')
Match:(' 27', '        27')
Match:(' 11', '11')
Match:('  7', '7')
Match:(' 20', '20')
Match:(' 29', '29')
Match:(' 30', '        30')
Match:(' 36', '36')
Match:(' 66', '66')
Match:('  6', '6')
Match:(' 21', '21')
Match:(' 67', '67')
Match:(' 10', '10')
Match:('  9', '9')
Match:(' 48', '48')
Match:(' 44', '44')
Match:(' 18', '18')
Match:(' 42', '42')
Match:(' 58', '58')
Match:(' 33', '33')
Match:(' 59', '59')
Match:(' 15', '15')
Match:(' 34', '34')
Match:(' 31', '31')
Match:(' 32', '32')
Match:(' 37', '        37')
Match:(' 38', '38')
Match:(' 23', '23')
Match:('56', '        56')
Match:('55', '        55')
Match:('54', '        54')
Match:('62', ' 62')
Match:('35', ' 35')
Match:('65', '        65')
Match:(' 52', '52')
Match:(' 51', '51')
Match:(' 50', '50')
Match:('DK595BtY', 'DK595Bty')
Match:('DK647BtY', 'DK647Bty')
Match:('DK551BtY', 'DK551Bty')
Match:('441Bt', '441BT')
Match:('731HX', '731Hx')
Match:('K-8616Hx', 'K-8616HX')
Match:('LG2627Hx', 'LG2627HX')
Match:(' 658HL', '658HL')
Match:(' 779BT', '779BT')
Match:(' 436Bt', '436BT')
Match:(' 7A28BR', '7A28BR')
Match:(' 7A58BR', '7A58BR')
Match:('697BT', ' 697Bt')
Match:(' 7A58BRW', '7A58BRW')
Match:(' 417BRW', '417BRW')

example of typo:
DK647Bty pcode 3283
DK647BtY pcode 3283

example of two different genotypes that looks like a typo:
441Bt pcode 3880
441BT pcode 3743