In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import os

## Add new data

### Canola

Pipeline: 
* Fix excel files.
* Input LOC acronym into dict file.
* Convert ENTRY - NAME and BRAND separated by YEAR.
* Convert LOC after final dataset has been established.
* Remove numerical data that is not YIELD.
* Change dots to NaN.
* Yield is currently on lb/acre.
  
Groups:
* 2004 - 2011
* 2012 - 2021
* 2022 - 2023

#### Getting csv files based on groups

In [91]:
folder_path = 'canola/pre_process/'
path_list = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if os.path.isfile(os.path.join(folder_path, f)) and f.endswith('.xlsx')]

path_list

['canola/pre_process/2012.xlsx',
 'canola/pre_process/2013.xlsx',
 'canola/pre_process/2014.xlsx',
 'canola/pre_process/2015.xlsx',
 'canola/pre_process/2016.xlsx',
 'canola/pre_process/2017.xlsx',
 'canola/pre_process/2018.xlsx',
 'canola/pre_process/2019.xlsx',
 'canola/pre_process/2020.xlsx',
 'canola/pre_process/2021.xlsx']

In [105]:
path_list = ['canola/pre_process/2022.xlsx', 'canola/pre_process/2023.xlsx']

In [109]:
res = pd.DataFrame()
for path in path_list:
    all_sheets_dict = pd.read_excel(path, sheet_name=None)
    for sheet_name, df in all_sheets_dict.items():
        print(path, sheet_name)
        if 'YLD' in df.columns:
            # renaming name to Line
            if 'NAME' in df.columns:
                df.rename(columns={'NAME': 'Line'}, inplace=True)
            elif 'LINE' in df.columns:
                df.rename(columns={'LINE': 'Line'}, inplace=True)
            df = df[['YEAR','LOC','ENTRY','Line','CITY','STATE','YLD']]
            # concat of all locations in a year
            res = pd.concat([res, df], axis=0, ignore_index=True)

    res = res[['YEAR','ENTRY','LOC','Line','CITY','STATE','YLD']]

canola/pre_process/2022.xlsx 2022 NWCVTHYB
canola/pre_process/2022.xlsx NWCVTOP
canola/pre_process/2023.xlsx 2023 NWCVT - BOTH
canola/pre_process/2023.xlsx 2023 NWCVT HYBRID
canola/pre_process/2023.xlsx 2023 NWCVT OP

In [110]:
res = res[~res['YLD'].astype(str).str.contains('^\\.$')]
res = res.dropna()

In [111]:
res.YEAR = res.YEAR.astype(int)
res = res[res.YLD != 0.0]
res.YLD = res.YLD.astype(int)
res.ENTRY = res.ENTRY.astype(int)
res.head()
res.to_csv("canola.csv", index=False)

#### Adding loc

In [144]:
loc_df = pd.read_csv("canola/loc.csv")
loc_df.COUNTY = loc_df.COUNTY.str.upper()
loc_df

        LOC         COUNTY STATE
0       ALA         AUBURN    AL
1       ALM  MERIDIANVILLE    AL
2       ALN         NORMAL    AL
3       ARK         KIBLER    AR
4       ARM       MARIANNA    AR
..      ...            ...   ...
175  TNMHYB        MEMPHIS    TN
176   TNMOP        MEMPHIS    TN
177  TXBHYB       BUSHLAND    TX
178   TXBOP       BUSHLAND    TX
179     MTK      KALISPELL    MT

[180 rows x 3 columns]

In [145]:
df = pd.read_csv('canola_g2.csv')
df.LOC = df.LOC.str.replace('-', '')
df.head(-10)

       YEAR  ENTRY  LOC         LINE   YLD
0      2012     16  ALA      MH07J14  1863
1      2012      1  ALA      Rossini  1499
2      2012      3  ALA       TCI806  1006
3      2012     13  ALA       Safran   894
4      2012     12  ALA       Hornet  1888
...     ...    ...  ...          ...   ...
16113  2021      6  VTA        Riley  3012
16114  2021      5  VTA     Surefire  3565
16115  2021      9  VTA     CP1055WC  1037
16116  2021     12  VTA  MH 17HID007  1417
16117  2021      1  VTA       KS4662  3294

[16118 rows x 5 columns]

In [146]:
res = pd.merge(df, loc_df, on='LOC', how='left')
res = res[['YEAR', 'ENTRY', 'LOC', 'STATE', 'COUNTY', 'LINE', 'YLD']]
res
res.to_csv('canola_g22.csv', index=False)

In [150]:
# joining all
g1 = pd.read_csv('canola_g1.csv')
g2 = pd.read_csv('canola_g2.csv')
g3 = pd.read_csv('canola_g3.csv')
res = pd.concat([g1, g2, g3], axis=0, ignore_index=True)
res.to_csv('canola.csv', index=False)

#### Adding NAME and BRAND based on combination YEAR + ENTRY

In [4]:
# check with 2004 and 2005 VSX-2 VSU
entries = pd.read_csv('canola/dict.csv')
df = pd.read_csv('datasets/canola.csv')

In [13]:
merged_df = pd.merge(df, entries[['YEAR', 'ENTRY', 'NAME', 'BRAND', 'TYPE']],
                     on=['YEAR', 'ENTRY'], how='left')
# Adding WATER_REGIME as unknown
merged_df['WATER_REGIME'] = 'Unknown'
merged_df = merged_df[["YEAR","LOC","STATE","COUNTY_CITY","LINE","BRAND","NAME","YIELD", "WATER_REGIME", "TYPE"]]
merged_df
merged_df.to_csv("canola.csv", index=False)

### General

In [32]:
df = pd.read_csv("1982-1992_corn.csv")
counties = pd.read_csv("datasets/county_data.csv")

In [33]:
df.drop(['PAVG'], inplace=True, axis=1)
df.YIELD = round(df.YIELD).astype(int)
df.TW = round(df.TW).astype(int)
df.MOIST = round(df.MOIST).astype(int)
df['DAYS'] = np.nan
df['STATE'] = 'KS'
df

      YEAR  LOC       BRAND    NAME  PCODE  YIELD  TW  MOIST  DAYS STATE
0     1984  RPI      FUNK'S  G-4465    841    205  59     17   NaN    KS
1     1984  FNI      FUNK'S  G-4465    841    175  58     19   NaN    KS
2     1984  DND      FUNK'S  G-4505    842    145  57     19   NaN    KS
3     1982  DND      ASGROW   RX 90    992    127  57     17   NaN    KS
4     1984  SHI      ASGROW   RX 90    992    192  53     22   NaN    KS
...    ...  ...         ...     ...    ...    ...  ..    ...   ...   ...
5138  1991  RPI  CASTERLINE  CX1170   2405    159  59     13   NaN    KS
5139  1991  THI  CASTERLINE  CX1170   2405    171  63     11   NaN    KS
5140  1991  FNI  CASTERLINE  CX1170   2405    156  62     14   NaN    KS
5141  1991  DND  CASTERLINE  CX1170   2405    124  60     14   NaN    KS
5142  1991  GRI  CASTERLINE  CX1170   2405    149  59     12   NaN    KS

[5143 rows x 10 columns]

In [34]:
def split_LOC(df, c_dict):
    df['COUNTY'] = df['LOC'].str[:2].map(
        c_dict
    ).fillna("Unknown")

    df['WATER_REGIME'] = df['LOC'].str[2].map(
        {'I': 'Irrigated',
         'i': 'Irrigated',
         'D': 'Dryland',
         'd': 'Dryland'
         }
    )
    return df

In [35]:
c_dict = dict(zip(counties['ACRONYM'], counties['COUNTY']))
c_dict['FN'] = 'FINNEY'
c_dict['GR'] = 'GREELEY'
c_dict['DN'] = 'DONIPHAN'
df = split_LOC(df, c_dict)
df

,YEAR,LOC,BRAND,NAME,PCODE,YIELD,TW,MOIST,DAYS,STATE,COUNTY,WATER_REGIME
0,1984,RPI,FUNK'S,G-4465,841,205,59,17,NaN,KS,REPUBLIC,Irrigated
1,1984,FNI,FUNK'S,G-4465,841,175,58,19,NaN,KS,FINNEY,Irrigated
2,1984,DND,FUNK'S,G-4505,842,145,57,19,NaN,KS,DONIPHAN,Dryland
3,1982,DND,ASGROW,RX 90,992,127,57,17,NaN,KS,DONIPHAN,Dryland
4,1984,SHI,ASGROW,RX 90,992,192,53,22,NaN,KS,SHERMAN,Irrigated
...,...,...,...,...,...,...,...,...,...,...,...,...
5138,1991,RPI,CASTERLINE,CX1170,2405,159,59,13,NaN,KS,REPUBLIC,Irrigated
5139,1991,THI,CASTERLINE,CX1170,2405,171,63,11,NaN,KS,THOMAS,Irrigated
5140,1991,FNI,CASTERLINE,CX1170,2405,156,62,14,NaN,KS,FINNEY,Irrigated
5141,1991,DND,CASTERLINE,CX1170,2405,124,60,14,NaN,KS,DONIPHAN,Dryland
5142,1991,GRI,CASTERLINE,CX1170,2405,149,59,12,NaN,KS,GREELEY,Irrigated

In [36]:
# YEAR,LOC,STATE,COUNTY_CITY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,MOIST,TW,DAYS
df.rename(columns={'COUNTY': 'COUNTY_CITY'}, inplace=True)
desired_order = ['YEAR', 'LOC', 'STATE', 'COUNTY_CITY', 'BRAND', 'NAME', 'PCODE', 'YIELD', 'WATER_REGIME', 'MOIST', 'TW', 'DAYS']
df = df[desired_order]
df

,YEAR,LOC,STATE,COUNTY_CITY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,MOIST,TW,DAYS
0,1984,RPI,KS,REPUBLIC,FUNK'S,G-4465,841,205,Irrigated,17,59,NaN
1,1984,FNI,KS,FINNEY,FUNK'S,G-4465,841,175,Irrigated,19,58,NaN
2,1984,DND,KS,DONIPHAN,FUNK'S,G-4505,842,145,Dryland,19,57,NaN
3,1982,DND,KS,DONIPHAN,ASGROW,RX 90,992,127,Dryland,17,57,NaN
4,1984,SHI,KS,SHERMAN,ASGROW,RX 90,992,192,Irrigated,22,53,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5138,1991,RPI,KS,REPUBLIC,CASTERLINE,CX1170,2405,159,Irrigated,13,59,NaN
5139,1991,THI,KS,THOMAS,CASTERLINE,CX1170,2405,171,Irrigated,11,63,NaN
5140,1991,FNI,KS,FINNEY,CASTERLINE,CX1170,2405,156,Irrigated,14,62,NaN
5141,1991,DND,KS,DONIPHAN,CASTERLINE,CX1170,2405,124,Dryland,14,60,NaN
5142,1991,GRI,KS,GREELEY,CASTERLINE,CX1170,2405,149,Irrigated,12,59,NaN

In [37]:
def is_fully_unique(df):
    fully_unique = True
    for year in df.YEAR.unique():
        is_unique_combination = (
            ~df[df.YEAR == year]
            # .duplicated(subset=["NAME", "COUNTY_CITY", "WATER_REGIME"])
            .duplicated(subset=["NAME", "COUNTY_CITY"])
            .any()
        )
        if not is_unique_combination:
            print(f"Not unique in {year}")
            fully_unique = False
    if fully_unique:
        print("Combination of YEAR, NAME, COUNTY, WATER_REGIME is now unique")

In [38]:
def drop_duplicates_by_year(df):
    grouped = df.groupby("YEAR")
    non_duplicate_df = pd.DataFrame(columns=df.columns)

    for year, group in grouped:
        duplicate_rows = group[
            # group.duplicated(subset=["NAME", "COUNTY_CITY", "WATER_REGIME"], keep=False)
            group.duplicated(subset=["NAME", "COUNTY_CITY"], keep=False)
        ]
        non_duplicate_rows = group.drop(duplicate_rows.index)
        non_duplicate_df = pd.concat([non_duplicate_df, non_duplicate_rows])

    non_duplicate_df.reset_index(drop=True, inplace=True)
    return non_duplicate_df

In [39]:
is_fully_unique(df)

Not unique in 1985
Not unique in 1986
Not unique in 1988

In [45]:
df = drop_duplicates_by_year(df)
is_fully_unique(df)
df

Combination of YEAR, NAME, COUNTY, WATER_REGIME is now unique

,YEAR,LOC,STATE,COUNTY_CITY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,MOIST,TW,DAYS
0,1982,DND,KS,DONIPHAN,ASGROW,RX 90,992,127,Dryland,17,57,NaN
1,1982,DND,KS,DONIPHAN,FUNK'S,G-4507,1017,154,Dryland,17,57,NaN
2,1982,DND,KS,DONIPHAN,Northrup King,PX 74,1042,142,Dryland,17,57,NaN
3,1982,DND,KS,DONIPHAN,Northrup King,PX 95,1045,145,Dryland,22,53,NaN
4,1982,DND,KS,DONIPHAN,Dekalb,TXS 115A,1072,133,Dryland,17,56,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5128,1991,RPI,KS,REPUBLIC,CASTERLINE,CX1170,2405,159,Irrigated,13,59,NaN
5129,1991,THI,KS,THOMAS,CASTERLINE,CX1170,2405,171,Irrigated,11,63,NaN
5130,1991,FNI,KS,FINNEY,CASTERLINE,CX1170,2405,156,Irrigated,14,62,NaN
5131,1991,DND,KS,DONIPHAN,CASTERLINE,CX1170,2405,124,Dryland,14,60,NaN
5132,1991,GRI,KS,GREELEY,CASTERLINE,CX1170,2405,149,Irrigated,12,59,NaN

In [186]:
df = df.drop_duplicates()
df.dropna(subset=["NAME"], inplace=True)

In [187]:
df

,YEAR,LOC,BRAND,NAME,PCODE,YIELD,PAVG,TW,WATER_REGIME,COUNTY
0,1982,BRD,Kansas,Triumph 64,9,40.66,106.01,58.75,Dryland,BROWN
1,1982,BRD,Kansas,Scout 66,11,35.93,93.68,56.00,Dryland,BROWN
2,1982,BRD,Nebraska,Buckskin,44,38.41,100.14,56.00,Dryland,BROWN
3,1982,BRD,Kansas,Larned,69,41.14,107.25,56.75,Dryland,BROWN
4,1982,BRD,Kansas,Newton,73,33.24,86.67,55.00,Dryland,BROWN
...,...,...,...,...,...,...,...,...,...,...
5437,1993,SUD,Ehmke Seed,Ike,495,33.50,105.65,56.35,Dryland,SUMNER
5438,1993,SUD,Kansas,(W) Arlin,501,39.80,125.52,55.92,Dryland,SUMNER
5439,1993,SUD,AgriPro,Ponderosa,504,26.70,84.21,54.25,Dryland,SUMNER
5440,1993,SUD,Kansas,Karl 92,510,33.00,104.08,55.82,Dryland,SUMNER
5441,1993,SUD,Nebraska,Vista,511,30.00,94.62,53.22,Dryland,SUMNER

In [188]:
brand_elements = ["MAT CHK", "MATURITY CHECK", "zMATURITY CHECK", "MATURITY CHECK", "Z1--- EARLY CHECK", "Z4--- MED"]
name_elements = ["GRAND MEAN", "MEAN", "CV", "LSD", "Average", "AVERAGE", "LSD (0.05)", "LSD (0.05)*", "CV (%)", "LSD (0.5)", "MATURITY SHORT", "MATURITY MID", "MATURITY FULL"]
## 9903 9902 pcode 
df = df[~df['BRAND'].isin(brand_elements)]
df = df[~df['BRAND'].str.contains("CHECK", na=False)]
df = df[~df['BRAND'].str.contains("Check", na=False)]

df = df[~df['NAME'].isin(name_elements)]
df.reset_index(drop=True, inplace=True)

In [12]:
df.to_csv('sunflower_2.csv', index=False)

In [189]:
full = pd.read_csv("datasets/wheat.csv")

In [190]:
combined = pd.concat([df, full]).sort_values(by='YEAR')

In [24]:
combined = combined.drop(["CROP"], axis=1)

In [25]:
combined = combined[["YEAR","LOC","COUNTY","WATER_REGIME","BRAND","NAME","PCODE","YIELD","PAVG","MOIST","TW","DAYS"]]

In [15]:
combined.to_csv('wheat_2.csv', index=False)

## Fixing Data

### General

In [3]:
path_list = ['datasets/canola.csv','datasets/corn.csv', 'datasets/sorghum.csv', 'datasets/soybean.csv', 'datasets/sunflower.csv', 'datasets/wheat.csv']

In [5]:
df = pd.read_csv(path_list[0])
df.STATE.unique()

array(['AL', 'AR', 'VA', 'IL', 'MO', 'OH', 'KS', 'NE', 'OK', 'TX', 'IN',
       'CO', 'MT', 'WY', 'OR', 'KY', 'PA', 'GA', 'MN', 'NC', 'IA', 'NM',
       'MD', 'WA', 'NJ', 'TN', 'VT', 'MS', 'SD', 'SC', 'LA'], dtype=object)

In [157]:
# Adding State Column
for path in path_list:
    df = pd.read_csv(path)
    loc_index = df.columns.get_loc('LOC')
    df.insert(loc_index + 1, 'STATE', 'KS')
    # df.to_csv(path, index=False)

In [89]:
# Removing decimal places
for path in path_list:
    df = pd.read_csv(path)
    numerical_columns = df.select_dtypes(include='number').columns
    df[numerical_columns] = df[numerical_columns].fillna('0').round(0).astype(int)
    # df.to_csv(path, index=False)

In [92]:
# Stanton to Stafford county
for path in path_list:
    df = pd.read_csv(path)
    df.COUNTY = df.COUNTY.replace('STANTON', 'STAFFORD')
    # df.to_csv(path, index=False)

In [94]:
# FN - Finney, PH - Phillips, Greeley - GR
for path in path_list:
    df = pd.read_csv(path)
    conditions = [
    (df['LOC'].str[:2] == 'FN'),
    (df['LOC'].str[:2] == 'PH'),
    (df['LOC'].str[:2] == 'GR')
    ]
    mappings = ['FINNEY', 'PHILLIPS', 'GREELEY']
    df['COUNTY'] = np.select(conditions, mappings, default=df['COUNTY'])
    # df.to_csv(path, index=False)

### Corn

In [64]:
df = pd.read_csv('datasets/corn.csv')
df[df['YIELD'] == 0.00]

Index(['YEAR', 'PCODE', 'YIELD', 'MOIST', 'TW', 'DAYS'], dtype='object')

In [ ]:
# Making it fit the standard
df = pd.read_csv('datasets/corn.csv')
df.COUNTY = df.COUNTY.str.upper()
df.LOC = df.LOC.replace('SF', 'ST')
df = df[pd.notna(df['NAME']) & ~df['NAME'].astype(str).str.contains('LSD (0.05)')]
df = df[pd.notna(df['NAME']) & ~df['NAME'].astype(str).str.contains('LSD (0.05)*')]
# df.to_csv('datasets/corn.csv', index=False)

### Sorghum

In [15]:
df = pd.read_csv('datasets/sorghum.csv')
df

,YEAR,LOC,COUNTY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,PAVG,MOIST,TW,DAYS
0,1983,THD,THOMAS,NaN,XXX,1086,82,Dryland,102,11,57,62
1,1994,STD,STAFFORD,NaN,15,1695,90,Dryland,106,18,52,65
2,1994,STD,STAFFORD,NaN,12,1775,98,Dryland,115,17,52,63
3,1994,RND,RENO,NaN,135,1858,67,Dryland,79,14,56,66
4,1994,RND,RENO,NaN,150,1861,65,Dryland,78,13,58,66
...,...,...,...,...,...,...,...,...,...,...,...,...
14063,2023,RND,RENO,DYNA-GRO,M72GB71,3038,112,Dryland,94,15,53,0
14064,2023,RND,RENO,DYNA-GRO,M63GB78,3074,135,Dryland,113,15,55,0
14065,2023,RND,RENO,DYNA-GRO,M67GB87,3076,112,Dryland,94,14,52,0
14066,2023,RND,RENO,RAGT,AC2104,3087,112,Dryland,94,11,53,0
14067,2023,PND,PAWNEE,DYNA-GRO,M60GB88,2574,158,Dryland,106,14,59,0

In [167]:
# removing TANT in LOC
df = df[pd.notna(df['LOC']) & ~df['LOC'].astype(str).str.contains('TANT')]
# df.to_csv('datasets/sorghum.csv', index=False)

updating the pcodes, boy was it difficulty

In [168]:
pcode_df = pd.read_excel('sorghum_pcodes.xlsx')
pcode_df.PCODE = pcode_df.PCODE.astype('str')
pcode_df

    PCODE            BRAND     NAME
0       1  Pride of Saline       OP
1       2        DELTAPINE   G-777W
2       3     Westland Var      NaN
3       6           Public   RS 650
4       7      Midland Var      NaN
..    ...              ...      ...
825   995           Pfizer   M 550G
826   996           Pfizer   M 568G
827   997        Paymaster  GR 1020
828   998        Paymaster  DR 1075
829   999          CARGILL   DR1125

[830 rows x 3 columns]

In [169]:
filtered_df = df[(df['YEAR'] == 1994) & (df['NAME'].isin(pcode_df['PCODE']))]
filtered_index = filtered_df.index
filtered_df

,YEAR,LOC,COUNTY,WATER_REGIME,BRAND,NAME,PCODE,YIELD,PAVG,MOIST,TW,DAYS
5,1994,RND,RENO,Dryland,NaN,151,1256,73,86,14,56,61
6,1994,STD,STAFFORD,Dryland,NaN,2,1822,73,86,16,57,57
7,1994,STD,STAFFORD,Dryland,NaN,7,1436,83,97,16,56,57
9,1994,STD,STAFFORD,Dryland,NaN,22,1826,93,109,17,52,54
12,1994,HVD,HARVEY,Dryland,NaN,79,1790,106,111,11,58,61
...,...,...,...,...,...,...,...,...,...,...,...,...
747,1994,BRD,BROWN,Dryland,NaN,33,1777,97,87,14,60,68
749,1994,BRD,BROWN,Dryland,NaN,16,1446,108,97,15,61,65
752,1994,BRD,BROWN,Dryland,NaN,148,1033,96,86,15,59,62
754,1994,BRD,BROWN,Dryland,NaN,147,1820,90,81,15,62,62
759,1994,BRD,BROWN,Dryland,NaN,108,1666,100,90,15,60,65

In [170]:
result_df = pd.merge(filtered_df, pcode_df, left_on='NAME', right_on='PCODE', how='left')
result_df = result_df.drop(['BRAND_x', 'NAME_x', 'PCODE_y'], axis=1)
result_df = result_df.rename(columns={'PCODE_x': 'PCODE', 'BRAND_y': 'BRAND', 'NAME_y': 'NAME'})
result_df = result_df[['YEAR', 'LOC', 'COUNTY', 'WATER_REGIME', 'BRAND', 'NAME', 'PCODE', 'YIELD', 'PAVG', 'MOIST', 'TW', 'DAYS']]
result_df

,YEAR,LOC,COUNTY,WATER_REGIME,BRAND,NAME,PCODE,YIELD,PAVG,MOIST,TW,DAYS
0,1994,RND,RENO,Dryland,Paymaster,Apache,1256,73,86,14,56,61
1,1994,STD,STAFFORD,Dryland,DELTAPINE,G-777W,1822,73,86,16,57,57
2,1994,STD,STAFFORD,Dryland,Midland Var,NaN,1436,83,97,16,56,57
3,1994,STD,STAFFORD,Dryland,Frontier,400C,1826,93,109,17,52,54
4,1994,HVD,HARVEY,Dryland,DEKALB,F-63,1790,106,111,11,58,61
...,...,...,...,...,...,...,...,...,...,...,...,...
238,1994,BRD,BROWN,Dryland,Public,RS 610,1777,97,87,14,60,68
239,1994,BRD,BROWN,Dryland,Martin Var,NaN,1446,108,97,15,61,65
240,1994,BRD,BROWN,Dryland,Paymaster,Kiowa,1033,96,86,15,59,62
241,1994,BRD,BROWN,Dryland,Paymaster,Comanche,1820,90,81,15,62,62
242,1994,BRD,BROWN,Dryland,ASGROW,Red RaiderA,1666,100,90,15,60,65

In [172]:
df.loc[filtered_index, :] = result_df.set_index(filtered_index)
df.head(10)

,YEAR,LOC,COUNTY,WATER_REGIME,BRAND,NAME,PCODE,YIELD,PAVG,MOIST,TW,DAYS
0,1983,THD,THOMAS,Dryland,NaN,XXX,1086,82,102,11,57,62
1,1994,STD,STAFFORD,Dryland,NaN,15,1695,90,106,18,52,65
2,1994,STD,STAFFORD,Dryland,NaN,12,1775,98,115,17,52,63
3,1994,RND,RENO,Dryland,NaN,135,1858,67,79,14,56,66
4,1994,RND,RENO,Dryland,NaN,150,1861,65,78,13,58,66
5,1994,RND,RENO,Dryland,Paymaster,Apache,1256,73,86,14,56,61
6,1994,STD,STAFFORD,Dryland,DELTAPINE,G-777W,1822,73,86,16,57,57
7,1994,STD,STAFFORD,Dryland,Midland Var,NaN,1436,83,97,16,56,57
8,1994,STD,STAFFORD,Dryland,NaN,10,1495,77,91,16,52,56
9,1994,STD,STAFFORD,Dryland,Frontier,400C,1826,93,109,17,52,54

In [173]:
df.to_csv('datasets/sorghum_2.csv', index=False)

should i do this on the earlier years on the column NAME? if so there are some that are still missing like 120
ans: Yes, ignore missing

### Sunflower

In [32]:
df = pd.read_csv('datasets/sunflower.csv')
df

,YEAR,LOC,COUNTY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,DAYS
0,1998,GRDO,GREELEY,ASGROW SEED,AS5303,0,76,Dryland,57
1,1998,GRDO,GREELEY,INTERSTATE PAYCO SEED,IS 4049,0,74,Dryland,63
2,1998,GRDO,GREELEY,KAYSTAR SEED,9501,0,73,Dryland,63
3,1998,GRDO,GREELEY,CARGILL,X 3272,0,62,Dryland,58
4,1998,GRDO,GREELEY,MYCOGEN SEEDS,8488NS,0,76,Dryland,62
...,...,...,...,...,...,...,...,...,...
2341,2023,NaN,RENO,DYNA GRO,H47HO11EX,1013,1365,Dryland,0
2342,2023,NaN,RENO,DYNAGRO,H45NS16CL,1014,1726,Dryland,0
2343,2023,NaN,RENO,NUSEED,N4H490 E,1016,1756,Dryland,0
2344,2023,NaN,RENO,NUSEED,Hornet,920,2199,Dryland,0
2345,2023,NaN,RILEY,NUSEED,Hornet,920,1527,Dryland,0

In [33]:
df.LOC = df.LOC.str.upper()
df[df.YEAR == 2008].head()

      YEAR   LOC  COUNTY       BRAND     NAME  PCODE  YIELD WATER_REGIME  DAYS
1284  2008  THIO  THOMAS    Monsanto   MH6640      0     99    Irrigated    58
1285  2008  THIO  THOMAS    Monsanto   MH6643      0     81    Irrigated    55
1286  2008  THIO  THOMAS    Monsanto   MH7633      0     91    Irrigated    57
1287  2008  THIO  THOMAS  Fontanelle    902NS      0     80    Irrigated    59
1288  2008  THIO  THOMAS       Garst  NX43489      0    105    Irrigated    57

In [25]:
# Fixing lower case LOC causing unknown locations
counties = pd.read_csv("datasets/county_data.csv")
c_dict = dict(zip(counties['ACRONYM'], counties['COUNTY']))
c_dict['FN'] = 'FINNEY'
c_dict['GR'] = 'GREELEY'
df = split_LOC(df, c_dict)
df[df.YEAR == 2008].head()
# df.to_csv('datasets/sunflower.csv')

In [34]:
# Splitting LOC last letter into column called TYPE: O - Oil; C - Confectionary
df['TYPE'] = df['LOC'].str[-1].map(
    {'O': 'Oil',
     'C': 'Confectionary',
     np.nan: 'Unknown'}
)
df.head(-10)

,YEAR,LOC,COUNTY,BRAND,NAME,PCODE,YIELD,WATER_REGIME,DAYS,TYPE
0,1998,GRDO,GREELEY,ASGROW SEED,AS5303,0,76,Dryland,57,Oil
1,1998,GRDO,GREELEY,INTERSTATE PAYCO SEED,IS 4049,0,74,Dryland,63,Oil
2,1998,GRDO,GREELEY,KAYSTAR SEED,9501,0,73,Dryland,63,Oil
3,1998,GRDO,GREELEY,CARGILL,X 3272,0,62,Dryland,58,Oil
4,1998,GRDO,GREELEY,MYCOGEN SEEDS,8488NS,0,76,Dryland,62,Oil
...,...,...,...,...,...,...,...,...,...,...
2331,2023,NaN,RENO,CROPLAN,CP 7919CL,970,1898,Dryland,0,Unknown
2332,2023,NaN,RENO,CROPLAN,CP 455E,951,1819,Dryland,0,Unknown
2333,2023,NaN,RENO,DYNA GRO,H42HO18CL,971,1660,Dryland,0,Unknown
2334,2023,NaN,RENO,DYNA GRO,H49HO19CL,972,2099,Dryland,0,Unknown
2335,2023,NaN,RENO,NUSEED,N4H521 CL,979,2090,Dryland,0,Unknown

In [35]:
# df.to_csv('datasets/sunflower.csv', index=False)

### Wheat

In [2]:
df = pd.read_csv('datasets/wheat.csv')
df

,YEAR,LOC,BRAND,NAME,YIELD,TW,MOIST,HT,COUNTY,WATER_REGIME,HEAD
0,1994,ELDF,AgriPro,Longhorn,31,58,13,29,ELLIS,Dryland,139
1,1994,ELDF,----,Cimarron,33,62,11,26,ELLIS,Dryland,135
2,1994,ELDF,Star,Salute,37,59,13,26,ELLIS,Dryland,140
3,1994,ELDF,----,Karl,34,61,10,28,ELLIS,Dryland,134
4,1994,ELDF,----,Karl 92,34,61,11,27,ELLIS,Dryland,132
...,...,...,...,...,...,...,...,...,...,...,...
14196,2023,RPD,MERIDIAN,MS MAVERICK,26,60,0,0,REPUBLIC,Dryland,0
14197,2023,RPD,LIMAGRAIN,LCS JULEP,16,54,0,0,REPUBLIC,Dryland,0
14198,2023,RPD,LIMAGRAIN,LCS HELIX AX,19,59,0,0,REPUBLIC,Dryland,0
14199,2023,RPD,LIMAGRAIN,LCS ATOMIC AX,14,56,0,0,REPUBLIC,Dryland,0
14200,2023,ELD,AGSECO,TAM 114,27,51,13,0,RUSSELL,Dryland,0

In [4]:
# Removing entries with NC, EC, NWD, SWD, IRR, SC NE, SE in LOC
df = df[~df['LOC'].isin(['NC', 'EC', 'NWD', 'SWD', 'IRR', 'SC', 'NE', 'SE'])]
df
# df.to_csv('datasets/wheat.csv', index=False)

## Matching strings

In [29]:
from thefuzz import fuzz, process

In [44]:
df = pd.read_csv('datasets/wheat.csv')
unique_names = df['NAME'].fillna(0).unique()
unique_names = [str(item) for item in unique_names]
unique_names

['Longhorn',
 'Cimarron',
 'Salute',
 'Karl',
 'Karl 92',
 'Jagger',
 'KS92PO263-137 Exp',
 'KS92PO363-134 Exp',
 'Larned',
 'XH1529 Exp',
 'Voyager',
 'Laredo',
 'Hickock',
 'BNW3',
 'TAM 300',
 '7853',
 '21-193 Exp',
 'Discovery',
 'Tomahawk',
 'Ponderosa',
 'Scout 66',
 '(S) 2500 Exp',
 '(W) Rio Blanco',
 'Ogallala',
 'Newton',
 '(W) Arlin',
 'Vista',
 'Triumph 64',
 '9001',
 'BNW2',
 'BNW1',
 'Arapahoe',
 'TAM 200',
 'Ike',
 'TAM 107',
 'Colby',
 'XH1756 Exp',
 '2163',
 'Champ',
 'Tonkawa',
 '2180',
 'BC3',
 'BC2',
 '(S) Excel',
 '(S) MO12258 Exp',
 '(W) W88-2619W Exp',
 '(S) Jackson',
 'BNE1',
 'Custer',
 'BC4',
 '(S) Ernie (MO12256Ex',
 'W91-287 Exp',
 'W91-091 Exp',
 'Hickok',
 '(S) Boone',
 'BNE3',
 'HR 153',
 '(S) SR 204',
 '(S) SR 205',
 'Arkan',
 '(S) T441',
 '(S) Freedom',
 'NE89522 Exp',
 'BNE2',
 'Jagger-P',
 '(S) Caldwell',
 '(S) Cardinal',
 '(S) Clark',
 'KS91H153-2',
 '2172',
 'Alliance',
 'Yuma',
 'AP 7501',
 'WX92-3210 Exp',
 'BC1',
 '(S) 2500',
 'Colby 94',
 'Pecos',
 'AP 7601',
 'WX92-0408 Exp',
 '(S) 9474',
 '(S) 9543',
 'XH1520 Exp',
 'Akron (CO880169)',
 'BNW4',
 'XH1706 Exp',
 'Halt (CO99092)',
 'Jules',
 'BSW3',
 'BSW1',
 'BSW4',
 'BSW2',
 '(W) KS84HW196Exp',
 'AP 7301',
 'TXGH12588-105 Exp',
 '2137',
 'Coronado',
 'Victory',
 'Nekota',
 'Mankato',
 'Champ Extra',
 'Exp 401',
 '(S) G2500',
 'WX94-1604 Exp',
 'W93-460 Exp',
 '(W) Oro Blanco',
 'AP 7510',
 '579',
 'Akron',
 'Halt',
 'T81',
 'Rowdy',
 'Niobrara',
 '(S) Exp211',
 '(S) Coker 9543',
 '(S) Elkhart',
 '(S) Coker 9474',
 '(S) Coker 9803',
 '(S) Ernie',
 '(S) 2548',
 '(S) 2552',
 '566',
 '7853-D',
 'G1878',
 '7853-VRTU',
 'G1594 Exp',
 'G12017 Exp',
 'D-Exp',
 'Dominator',
 'Big Dawg',
 'KS940935 Exp',
 'Windstar',
 'KS941064 Exp',
 'HBZ374C Exp',
 'TAM 301',
 'TAM 110',
 'KS94H147Exp',
 'KS84063-HW Exp',
 'Karl 92-G',
 '505',
 '560',
 'BNW5',
 '12019 EXP',
 '(S) SR 211',
 '(S) Coker 9663',
 'G1720 Exp',
 'XH1870 Exp',
 'KS85W663 Exp',
 'KS84063-2W Exp',
 'KS95H176-1 Exp',
 'W95-210 Exp',
 'Onaga',
 'Yumar',
 'KS95HW62-6 Exp',
 'KS95H167-3',
 '(S) IL 90-7514 Exp',
 'Exp217',
 '(S) 2540',
 '(S) Exp215',
 '(S) Exp216',
 '2174',
 '(S) Patton',
 'H1881 Exp',
 'WX94-3504 Exp',
 '7406',
 '(S) D93*7163',
 'HR217',
 'Hondo',
 'Oro Blanco (W)',
 'KS89180B Exp',
 'Enhancer',
 'G12058 Exp',
 'KS96HW115 Exp (W)',
 'Betty (W)',
 'Heyne (W)',
 'Cossack',
 'Arlin (W)',
 'Thunderbolt',
 'N95L158 Exp',
 'XH9806',
 'KS95HW62-6 Exp (W)',
 '(S) SR216',
 'XH1888',
 'G14264 Exp',
 'NuWest (W)',
 'Culver',
 '(S) Marion',
 'G15011 Exp',
 'G15048 Exp',
 'KS96HW94 Exp (W)',
 'XH7463',
 '(W) Betty',
 '(W) Heyne',
 '(W) Nuplains',
 '(W) Trego',
 'Kalvesta',
 '7588',
 '(W)KS96HW115Exp',
 '(W) GM10002',
 '(W) GM10001',
 '(W) GM10003',
 '(W) NuWest',
 'XH9815',
 'TAM 302',
 'Wesley',
 'KS92-PO630 Exp',
 '(W)OK95G701Exp',
 'Millenium',
 'XH1711',
 'Prowers 99',
 'XH3207',
 'XH9801',
 'Prairie Red',
 '(S) Kaskaskia',
 'HR 217',
 '(S) BL930390',
 '(W) Golden Spike',
 'AP 97-075 Exp',
 'Millennium',
 'Stanton',
 'Venango',
 '(W) Lakin',
 'AP 97-234 Exp',
 '(W) Intrada',
 'OK95571Exp',
 '2145',
 '(W) NuFrontier',
 'G970466',
 'Cutter',
 'Jagalene',
 'Exp 2047',
 'Exp 2139',
 'Jag,2137,Dom',
 '(W) NuHorizon',
 '(SW) GM30001',
 '(SW) GM30002',
 '(S) Coker 9025',
 'Jag,2137',
 '(S) Roane',
 'Wahoo',
 'G970019',
 'G970246',
 'G970343',
 'G970454',
 'G970447',
 '(S) BL940812',
 'Jag,2137,K92',
 'Exp 2202',
 'Ok101',
 '(W) Avalanche',
 'Above',
 'Jag,2137,Stan',
 'AP502CL',
 'AP98-363W',
 'Dumas',
 'Y98-912',
 '(S) 25R78',
 '(S) 25R49',
 'Z98*912',
 '2000',
 '(S)MPV7921SRW',
 '(S) 766',
 '(S) 1828',
 'Goodstreak',
 'G982241',
 'Cisco',
 '(S) 2020',
 'Grazit',
 'G982238',
 '(S)MPG4664SRW',
 '(S)MPG4122SRW',
 'MO980525',
 '(S)GA931241E16',
 '(S) Sabbe',
 '(S)Coker 9663',
 '(W) GM10005',
 '(S) 485',
 '(S) 2000',
 '(S) Pat',
 'KS940786-6-7',
 'Harry',
 'G982163',
 'G982159',
 'G980039',
 'Ok102',
 '(W)G980411W',
 '(W)Prairie White',
 'G980122',
 '(W) Burchett',
 '(W) Platte',
 'Ankor',
 '(W) Bakers White',
 'Gem',
 'W96-1311-01',
 'W99-194',
 'KS01HW152-6',
 'KS01HW163-4',
 'KS02HW34',
 '(W) GM10006',
 'MEAN',
 'Overley',
 '(W) NuHills',
 '(S) 25R47',
 'TAM 111',
 '(S) Truman',
 '(S) 2485',
 '(S) 25R37',
 '(S) 25R54',
 '(S)MPV14S-4SRW',
 '(S) Coker 9184',
 'Endurance',
 'W03-20',
 'HV9W99-191',
 'Deliver',
 'Sturdy-2K',
 'Santa Fe',
 'CO981132CL',
 'Bond CL',
 'Infinity CL',
 'W04-417',
 '(S)951216-2E26',
 '(S) Coker 9312',
 '(S) Coker 9375',
 '(S) 2204',
 '(S)951079-2E31',
 'CO991132CL',
 'HV9W98-143',
 'Hatcher',
 '(W)HV98-411W',
 '(W)HV9W98-926W',
 'Hallam',
 'ACS54012',
 'ACS53032',
 'ACS97001',
 'HV9W99-1324R',
 'Okfield',
 'OK Bullet',
 '(W)KS03HW6-6',
 'ACS52009',
 'Tarkio',
 '(W)KS03HW158',
 '(W) Danby',
 'Neosho',
 'AP Jagalene',
 '(W) Guyman',
 'KS00F5-14-7',
 'Protection CL',
 'AP 03-20',
 'HV9W99-558R',
 'AP Thunderbolt',
 '(W) Guymon',
 '(S) Coker 9553',
 '(S)951395-3A31',
 '(S) 25R63',
 '(S) 2320',
 '(S) Coker 9511',
 '(S)MPV16S-2SRW',
 '(S) Bess',
 '(S)951395-3E25',
 '(S)96229-3A41',
 'ACS97003',
 '(W) NuGrain',
 'AP 50W',
 'Keota',
 'TAM 112',
 'Shocker',
 'Fuller',
 '(S)961231-4E25',
 '(S)951231-4E26',
 '(S) 25R56',
 '(S) 2318',
 '(S)96693-4E16',
 'Art',
 'Hawken',
 'Duster',
 'Spartan',
 'Postrock',
 'Winterhawk',
 '(W) RonL',
 'Smoky Hill',
 'Overland',
 'ACS 55007',
 'ACS 52012',
 'ACS 51017',
 'ACS 54048',
 'HV9W96-1383W',
 '98x0338-13',
 'Ripper',
 'HV9W02-846R',
 'CB94005RP',
 '98x0435-15',
 'Aspen',
 '(W) NuDakota',
 'Jagger/2137',
 'Sturdy 2K',
 'TAM 203',
 'PostRock',
 'Armour',
 'FL/PR/SF',
 'OV/PR/SF',
 'OK00611W',
 'Centerfield',
 'HV9W02-942R',
 'ACS 97003',
 'Protection',
 'RustBuster-S',
 '25R47',
 '(S) COKER 9553',
 '25R56',
 '25R62',
 '(S) 2609',
 '(S) 2627',
 'T140',
 'ACS 56013',
 'ACS 56012',
 'RustBuster-N',
 'ACS 56007',
 'ACS 56008',
 'TAM 304',
 'T-140',
 'WS/T111/PR',
 'Bill Brown',
 '(W) Aspen',
 'T81/T112/Shock',
 'HT/T111/PR',
 'Hatcher/Tam111/PostR',
 'Wesley/Tam111/PostR',
 'T81/Tam112/Shocker',
 'Overley/PostRock/SaF',
 'Fuller/PostRock/SanF',
 'HV9W96-1383R',
 'Hitch',
 'KS970093',
 'HV9W03-696R-2',
 'HV9W03-539R',
 'JackPot',
 'T-136',
 '(S)GA-991209-6E33',
 '(S) 2525',
 'Baldwin',
 '(S)GA-991371-6E12',
 '(S) 25R62',
 '(S) BO30543',
 '(S)GA-991336-6E9',
 'KS05HW136-3',
 'T-151',
 'HV9W03-696R',
 'CJ',
 '00x0100-51',
 'HV9W04-1594R',
 'HV9W03-1596R',
 'Stout',
 'Everest',
 '(S) 031238-7E34',
 'Billings',
 '(S) 991209-6E33',
 '(S) 991336-6E9',
 '(S) 2631',
 '(S) OAKES',
 'T158',
 '(W) Thunder CL',
 '(W) Tiger',
 '(W) Snowmass',
 'T154',
 'DUSTER',
 'CENTERFIELD',
 'HITCH',
 'OVERLEY',
 'FULLER',
 'SY WOLF',
 'JAGGER',
 'SANTA FE',
 'POSTROCK',
 'ART',
 'ARMOUR',
 'ENDURANCE',
 'BILLINGS',
 'CAMELOT',
 'MCGILL',
 'WB-CEDAR',
 'EVEREST',
 'BILL BROWN',
 'SETTLER CL',
 'RIPPER',
 'WINTERHAWK',
 '(W) ASPEN',
 'CO050303-2',
 'THUNDER CL',
 'CO06052',
 'CO06424',
 'ROBIDOUX',
 'WB-STOUT',
 'SHOCKER',
 'OK BULLET',
 'SY GOLD',
 'JAGALENE',
 '(W) RONL',
 'HATCHER',
 '(W) DANBY',
 'IKE',
 '(W) SNOWMASS',
 'T163',
 'GREER',
 '(W) TIGER',
 '(S) 25R30',
 '(S) 25R40',
 'JACKPOT',
 'CO050175-1',
 'SY Wolf',
 'Ruby Lee',
 'Denali',
 'Byrd',
 'Greer',
 'Robidoux',
 'McGill',
 'T153',
 'OK07209',
 'NE05496',
 'SY Exp 1029',
 'KS020319',
 '(W) Clara CL',
 'TAM 113',
 'WB-Cedar',
 'Garrison',
 'SY Southwind',
 'SY Gold',
 'Brawl CL Plus',
 'WB-Stout',
 'Thunder CL',
 '(S) 2018',
 'Arrow',
 '25R39',
 'Jackpot',
 '25R30',
 '25R40',
 'LCSMint',
 'WB-Grainfield',
 'BC 98-331-11W',
 'Deuce',
 'TAM 401',
 'KS09H19-2-3',
 '(W) Antero',
 'WB-4458',
 'LCH08-80',
 'Iba',
 'WB4458',
 '1863',
 'WB-Redhawk',
 'Gallagher',
 'LCH08-109',
 'LCH09-43',
 'LCH09-19',
 'Doublestop CL Plus',
 'GA-031086-10E26',
 '(S)2525',
 '(S)25R30',
 '(S)25R39',
 'GA-045710-10E46',
 'GA-031257-10LE34',
 'LCS08-12',
 '(S)25R32',
 '(S)2166',
 'SY Harrison',
 '(S)2135',
 'KS061406-LN-37',
 'LCS Wizard',
 'KS030887K-6',
 'LCH10-187',
 'LCH11-1130',
 'Oakley CL',
 'LCS Mint',
 'LCH11-1064',
 'SY Monument',
 'KS030887K-61.25',
 'KS030887K-6.75',
 '1863.75',
 '18631.25',
 'KS10HW78-1-1',
 '(S) 25R46',
 '(S) 2250',
 '(S) 25R39',
 '(S) XW12K',
 '(S) XW12L',
 '(S) XW12M',
 'GA-041293-11LE37',
 '(S) 2248',
 'GA-04434-11E44',
 '(S) 25R77',
 'GA-041293-11E54',
 '(S) 2166',
 'OK11754WF',
 '(S) XW12J',
 'Freeman',
 'Doublestop CL+',
 'KanMark',
 'Wabash Blend',
 'TAM 204',
 'LCS Pistol',
 'LCH12-014',
 'TAM 114',
 'SY Sunrise',
 'SY Flint',
 'Underwood',
 'LCH13DH-20-87',
 'LCH12-012',
 'NE10589',
 'OK10728W',
 'OK09125',
 'SY Llano',
 'LCH13DH-21-44',
 'TAM 305',
 'Clara CL',
 'Danby',
 'Antero',
 'LCH13DH-14-53W',
 'KS11HW39-5-4',
 'KS61406-LN-37',
 'LCH11-117W',
 'LCH11-113W',
 'WB4303',
 'WB4721',
 'OK1059060-3',
 'OK09915C-1',
 'Avery',
 'SY Grit',
 'CO11D446',
 'CO11D1767',
 'Exp HRW15-14',
 'Long Branch',
 'Zenda',
 'Larry',
 'LCS Chrome',
 'Joe',
 'LCH13-048',
 'LCH13NEDH-14-69',
 'Bentley',
 'AG Robust',
 'AG Gallant',
 'Hot Rod',
 'Tatanka',
 'PSB13NEDH15-44',
 '9301',
 'Exp 1663',
 '25R25',
 '444',
 '415',
 '25R77',
 '(S) XP 2431',
 '(S) 2449',
 '(S) XP 2474',
 '(S) XP 2479',
 'OK11311F',
 '9101',
 'HRW 9434',
 '9201',
 '25R46',
 '454',
 'HRW 9415',
 'WB4515',
 'AG Icon',
 'Bob Dole',
 'SY Benefit',
 'OK12716',
 'WB4269',
 'Paradise',
 'LCH14-51',
 'LCH14-91',
 'Spirit Rider',
 'Eastwood',
 'EXP',
 'OK13209',
 'SY Rugged',
 'LCH14-89',
 'Stardust',
 'Langin',
 'LCH13NEDH-14-71*',
 'LCH14-77',
 'WB4462',
 'Lonerider',
 'LCH13NEDH-12-27',
 'KS13HW92-3',
 'KS13H9-1',
 'Ruth',
 "Smith's Gold",
 'SY Achieve CL2',
 'SY 517 CL2',
 'KS14H152-1',
 '463',
 '473',
 'XP 2542',
 '2250',
 '25R61',
 '2449',
 'XP 2539',
 'XP 2538',
 '25R74',
 'KS13H20-5',
 'AM Eastwood',
 'EXP HRW',
 'EXP 26-16',
 'CO13D1783',
 'LCS Link',
 'CO13003C',
 'KS14HW106-6-6',
 'NE10478-1',
 'WB4418',
 'EXP 69-16',
 'LCS Yeti',
 'LCS Avenger',
 'LCH13-32',
 'SY Legend CL2',
 'KS14H180-4-6',
 '(S) 2633',
 '(S) 2622',
 '475',
 'Magnus 1069',
 '(S) 25R50',
 '(S) 25R61',
 'SRW 8550',
 'SRW 9606',
 '(S) 2542',
 'SRW 9415',
 'WB4792',
 'CPX79-10',
 'LCS Valiant',
 'Whistler',
 'CP7836',
 'Crescent AX',
 'Rock Star',
 'NHH144913-3',
 'AM EX1508C',
 'WB4699',
 'XB4520',
 'CP7869',
 'Canvas',
 'CP7909',
 'LCH14-52',
 'SY Wolverine',
 'Showdown',
 'KS15H116-6',
 'Breck',
 'Monarch',
 'DH11HRW053-34',
 'Green Hammer',
 'AP 18AX',
 'KS15H161-1',
 'KS15H161-1(18 ALI)',
 'KS14HD255',
 'NW13493',
 'Byrd CL Plus',
 'CP7017 AX',
 'CP7050 AX',
 'AM Cartwright',
 'CP7010',
 'KS Western Star',
 'WB4595',
 "Baker's Ann",
 'TAM 205',
 'AP EverRock',
 'AG Radical',
 'AG Golden',
 'WB4401',
 'KS Dallas',
 'KS Silverado',
 'Guardian',
 'KS15H137-2',
 'CO15D098R',
 'EXP 1524',
 'OK12912C-2',
 'Buckhorn AX',
 'EXP 52-5',
 'AM 503',
 'OCW03S580S-8WF',
 'AM 473',
 'AM 415',
 '(S) 25R74',
 'AM 505',
 'OK168512',
 'LCS Atomic AX',
 'LCS Helix AX',
 'LCS Julep',
 'KS Hamilton',
 'AP Roadrunner',
 'MS Maverick',
 'Breakthrough',
 'High Country',
 'KS Hatchett',
 'Strad CL Plus',
 'AP Bigfoot',
 'LCS Photon AX',
 'LCS Revere',
 'KS Ahearn',
 'OK Corral',
 'EXP1410',
 'GB0206',
 '727',
 '726',
 '514',
 '513',
 '492',
 'EXP1472',
 'EXP1450',
 '730',
 'EXP1425',
 'EXP1415',
 'WX21741',
 'GB0208',
 '9941',
 '9151',
 '9172',
 '9120',
 '9002',
 '9701',
 '9811',
 'EXP1419',
 'Roane',
 'KS12DH0156-88',
 'Skydance',
 'Big Country',
 'Uncharted',
 'WHISTLER',
 'LCS CHROME',
 'LCS HELIX AX',
 'LCS JULEP',
 'DOUBLESTOP CL PLUS',
 'ZENDA',
 'LCS PHOTON AX',
 'LCS STEEL AX',
 'WB4422',
 'TAM 115',
 'GUARDIAN',
 'LCS ATOMIC AX',
 'KS WESTERN STAR',
 'CANVAS',
 'PARADISE',
 'LCS VALIANT',
 'KS HAMILTON',
 'LCS RUNNER',
 'KS PROVIDENCE',
 'SHOWDOWN',
 'ROCK STAR',
 'STRAD CL PLUS',
 "SMITH'S GOLD",
 'AP EVERROCK',
 'AP BIGFOOT',
 'KS AHEARN',
 'KS HATCHETT',
 'AP18 AX',
 'AG RADICAL',
 'KS TERRITORY',
 'AG GOLDEN',
 'KS BIG BOW',
 'HIGH COUNTRY',
 'OK CORRAL',
 'LCS REVERE',
 'AP PROLIFIC',
 'BREAKTHROUGH',
 'KS DALLAS',
 'LONERIDER',
 'MS MAVERICK',
 'CARTWRIGHT',
 'SY WOLVERINE',
 'CRESCENT AX',
 'JOE',
 'TATANKA',
 'AP ROADRUNNER',
 'AG ICON',
 'WB4523',
 'KS SILVERADO',
 'BOB DOLE',
 'GREEN HAMMER',
 'KS13DH0041-35',
 'EXP #142',
 "BAKER'S ANN",
 'CP7017AX',
 'KIVARI AX',
 'CP7266AX',
 'P25R50',
 'P25R74',
 '503',
 '516',
 'EXP 2105',
 'P25R76',
 'WB2606',
 'OAKLEY CL',
 'UNCHARTED',
 'BIG COUNTRY',
 'SKYDANCE',
 'ROCKSTAR',
 'STRAD CL+',
 'Cartwright',
 'CP7050AX',
 'AP_ROADRUNNER',
 'DOUBLESTOP CL+',
 'SY_WOLVERINE',
 'AP18_AX',
 'CRESCENT_AX',
 'KS_DALLAS',
 'KS_WESTERN_STAR',
 'LANGIN',
 'AG_GOLDEN',
 'AP_BIGFOOT',
 'KS_HAMILTON',
 'KS16DH0010-17',
 'LCH19DH-152-6',
 'LCS_GALLOWAY_AX',
 'KS19H10',
 'KIVARI_AX',
 'LCS_STEEL_AX',
 'KS_PROVIDENCE',
 'KS_TERRITORY',
 'KS_BIG_BOW',
 'HIGH_COUNTRY',
 'MS_MAVERICK',
 'LCS_JULEP',
 'LCS_HELIX_AX',
 'LCS_ATOMIC_AX',
 'BG208',
 'EXP15',
 'EXP24',
 'EXP94',
 '535',
 '525',
 '732',
 '725',
 '722',
 '720',
 'TAM_114',
 'BG206',
 '724',
 'LCS GALLOWAY AX',
 'WB4632',
 'OK16103083',
 'PARADOX',
 'OK18510',
 'KS MAKO',
 'EXP65AX',
 'EXP55',
 '1419',
 'LSD (0.05)*',
 'BEAKTHROUGH',
 'KS BILL SNYDER',
 'LCS WHITE LIGHTNING',
 'LCS Steel AX',
 'LCS Galloway AX',
 'LCS White Lightning']

In [61]:
for name in unique_names:
    match, score = process.extractOne(name, unique_names)
    # You can adjust the threshold score based on your requirements
    if score >= 80:
        if name != match:
            print(f'Match:{name, match}')
    else:
        print(f'Error:{name}')

Match:('Sturdy 2K', 'Sturdy-2K')
Match:('PostRock', 'Postrock')
Match:('(S) COKER 9553', '(S) Coker 9553')
Match:('DUSTER', 'Duster')
Match:('CENTERFIELD', 'Centerfield')
Match:('HITCH', 'Hitch')
Match:('OVERLEY', 'Overley')
Match:('FULLER', 'Fuller')
Match:('JAGGER', 'Jagger')
Match:('SANTA FE', 'Santa Fe')
Match:('POSTROCK', 'Postrock')
Match:('ART', 'Art')
Match:('ARMOUR', 'Armour')
Match:('ENDURANCE', 'Endurance')
Match:('BILLINGS', 'Billings')
Match:('EVEREST', 'Everest')
Match:('BILL BROWN', 'Bill Brown')
Match:('RIPPER', 'Ripper')
Match:('WINTERHAWK', 'Winterhawk')
Match:('(W) ASPEN', '(W) Aspen')
Match:('SHOCKER', 'Shocker')
Match:('OK BULLET', 'OK Bullet')
Match:('JAGALENE', 'Jagalene')
Match:('(W) RONL', '(W) RonL')
Match:('HATCHER', 'Hatcher')
Match:('(W) DANBY', '(W) Danby')
Match:('IKE', 'Ike')
Match:('(W) SNOWMASS', '(W) Snowmass')
Match:('(W) TIGER', '(W) Tiger')
Match:('JACKPOT', 'JackPot')
Match:('SY Wolf', 'SY WOLF')
Match:('Greer', 'GREER')
Match:('Robidoux', 'ROBIDOUX')
Match:('McGill', 'MCGILL')
Match:('WB-Cedar', 'WB-CEDAR')
Match:('SY Gold', 'SY GOLD')
Match:('WB-Stout', 'WB-STOUT')
Match:('Thunder CL', 'THUNDER CL')
Match:('Jackpot', 'JackPot')
Match:('WHISTLER', 'Whistler')
Match:('LCS CHROME', 'LCS Chrome')
Match:('LCS HELIX AX', 'LCS Helix AX')
Match:('LCS JULEP', 'LCS Julep')
Match:('DOUBLESTOP CL PLUS', 'Doublestop CL Plus')
Match:('ZENDA', 'Zenda')
Match:('LCS PHOTON AX', 'LCS Photon AX')
Match:('GUARDIAN', 'Guardian')
Match:('LCS ATOMIC AX', 'LCS Atomic AX')
Match:('KS WESTERN STAR', 'KS Western Star')
Match:('CANVAS', 'Canvas')
Match:('PARADISE', 'Paradise')
Match:('LCS VALIANT', 'LCS Valiant')
Match:('KS HAMILTON', 'KS Hamilton')
Match:('SHOWDOWN', 'Showdown')
Match:('ROCK STAR', 'Rock Star')
Match:('STRAD CL PLUS', 'Strad CL Plus')
Match:("SMITH'S GOLD", "Smith's Gold")
Match:('AP EVERROCK', 'AP EverRock')
Match:('AP BIGFOOT', 'AP Bigfoot')
Match:('KS AHEARN', 'KS Ahearn')
Match:('KS HATCHETT', 'KS Hatchett')
Match:('AG RADICAL', 'AG Radical')
Match:('AG GOLDEN', 'AG Golden')
Match:('HIGH COUNTRY', 'High Country')
Match:('OK CORRAL', 'OK Corral')
Match:('LCS REVERE', 'LCS Revere')
Match:('BREAKTHROUGH', 'Breakthrough')
Match:('KS DALLAS', 'KS Dallas')
Match:('LONERIDER', 'Lonerider')
Match:('MS MAVERICK', 'MS Maverick')
Match:('SY WOLVERINE', 'SY Wolverine')
Match:('CRESCENT AX', 'Crescent AX')
Match:('JOE', 'Joe')
Match:('TATANKA', 'Tatanka')
Match:('AP ROADRUNNER', 'AP Roadrunner')
Match:('AG ICON', 'AG Icon')
Match:('KS SILVERADO', 'KS Silverado')
Match:('BOB DOLE', 'Bob Dole')
Match:('GREEN HAMMER', 'Green Hammer')
Match:("BAKER'S ANN", "Baker's Ann")
Match:('OAKLEY CL', 'Oakley CL')
Match:('UNCHARTED', 'Uncharted')
Match:('BIG COUNTRY', 'Big Country')
Match:('SKYDANCE', 'Skydance')
Match:('Cartwright', 'CARTWRIGHT')
Match:('AP_ROADRUNNER', 'AP Roadrunner')
Match:('DOUBLESTOP CL+', 'Doublestop CL+')
Match:('SY_WOLVERINE', 'SY Wolverine')
Match:('AP18_AX', 'AP18 AX')
Match:('CRESCENT_AX', 'Crescent AX')
Match:('KS_DALLAS', 'KS Dallas')
Match:('KS_WESTERN_STAR', 'KS Western Star')
Match:('LANGIN', 'Langin')
Match:('AG_GOLDEN', 'AG Golden')
Match:('AP_BIGFOOT', 'AP Bigfoot')
Match:('KS_HAMILTON', 'KS Hamilton')
Match:('KIVARI_AX', 'KIVARI AX')
Match:('LCS_STEEL_AX', 'LCS STEEL AX')
Match:('KS_PROVIDENCE', 'KS PROVIDENCE')
Match:('KS_TERRITORY', 'KS TERRITORY')
Match:('KS_BIG_BOW', 'KS BIG BOW')
Match:('HIGH_COUNTRY', 'High Country')
Match:('MS_MAVERICK', 'MS Maverick')
Match:('LCS_JULEP', 'LCS Julep')
Match:('LCS_HELIX_AX', 'LCS Helix AX')
Match:('LCS_ATOMIC_AX', 'LCS Atomic AX')
Match:('TAM_114', 'TAM 114')
Match:('LCS GALLOWAY AX', 'LCS_GALLOWAY_AX')
Match:('LCS Steel AX', 'LCS STEEL AX')
Match:('LCS Galloway AX', 'LCS_GALLOWAY_AX')
Match:('LCS White Lightning', 'LCS WHITE LIGHTNING')

example of typo:
DK647Bty pcode 3283
DK647BtY pcode 3283

example of two different genotypes that looks like a typo:
441Bt pcode 3880
441BT pcode 3743